<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="row">
                    <div class="col-sm-9">
                      <app-search-table (searchData)="getSearchData($event)"></app-search-table>
                    </div>
                    <div class="col-sm-3 text-right">
                        <!--<a target="_blank" href="/api/crm/bookkeeping/getreport" class="btn btn-white btn-md">Загрузить отчет</a>-->
                        <button [disabled]="inputIds.length <= 0"  class="btn btn-white btn-md" (click)="downloadReport()" >Загрузить отчет</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                          <tr>
                              <th>&nbsp;
                                  <input [(ngModel)]="isCheckedAll" (click)="checkedAllCheckbox($event)" type="checkbox">
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('code_dkl')">
                                  DKL № Накладной
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('type')">
                                  Услуга
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('items_price')">
                                  Цена
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('tarif')">
                                  Тариф
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('nds_percent')">
                                  % НДС
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('nds')">
                                  НДС
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('fuel_comission')">
                                  Топливная надбавка
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('delivery_price')">
                                  Всего
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('invoice_account')">
                                  Счет учета
                                </a>
                              </th>
                              <th>
                                <a href="javascript:void(0);" (click)="tableSort('invoice_nds')">
                                  Счет НДС
                                </a>
                              </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let accounting of accountingList.listdata">
                              <th>
                                 <input  [checked]="isChecked" (click)="checkedInput(accounting.id)" type="checkbox">
                              </th>
                              <th>
                                <a href="" [routerLink]="['/cabinet/orders/show', accounting.id]">
                                  {{accounting.code_dkl}}
                                </a>
                              </th>
                              <th>{{accounting.typeName}}</th>
                              <th>{{accounting.items_price}}</th>
                              <th>{{accounting.tarif}}</th>
                              <th>{{accounting.nds_percent}}</th>
                              <th>{{accounting.nds}}</th>
                              <th>{{accounting.fuel_comission}}</th>
                              <th>{{accounting.delivery_price}}</th>
                              <th>{{accounting.invoice_account}}</th>
                              <th>{{accounting.invoice_nds}}</th>
                          </tr>
                        </tbody>
                    </table>
                </div>
              <app-pagination [page]="page" [paginationData]="accountingList['pagination']" (pageChange)="tablePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>
