<div [formGroup]="form">
  <div class="form-group">
    <label [ngClass]="controlLabelColClass" class="control-label">{{fromData.searchSelectAutocomplete.label}}</label>
    <div [ngClass]="formControlColClass">
      <ng-select [items]="local"
        [multiple]="false"
        [closeOnSelect]="true"
        [hideSelected]="false"
        [loading]="autocompleteLoading"
        loadingText="Searching..."
        bindLabel="fullname"
        bindValue="fullname"
        class="form-control"
        [formControlName]="fromData.searchSelectAutocomplete.formControlName"
        (input)="onGetLocation($event)"
        (change)="onSelectLocation($event)"
      >
      </ng-select>
    </div>
  </div>
  <ng-container *ngFor="let item of fromData.searchInfoAutocomplete | keys">
    <div class="form-group">
      <label [ngClass]="controlLabelColClass" class="control-label">{{item.value.label}}</label>
      <div [ngClass]="formControlColClass">
        <input type="text" class="form-control" name="" placeholder="" [formControlName]="item.value.formControlName" >
      </div>
    </div>
  </ng-container>
  <!--<div class="form-group">-->
    <!--<label class="col-sm-4 control-label">{{fromData['region'].label}}</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="text" class="form-control" name="" placeholder="" [formControlName]="fromData['region'].formControlName">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label class="col-sm-4 control-label">{{fromData['zip_code'].label}}</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="text" class="form-control" name="" placeholder="" [formControlName]="fromData['zip_code'].formControlName" >-->
    <!--</div>-->
  <!--</div>-->
</div>
