<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <app-tariffs-zone [zones]="tariffs.zones"></app-tariffs-zone>
        </div>
        <div class="col-sm-9">
          <app-tariffs-transporters [transporters]="tariffs.transporters"></app-tariffs-transporters>
        </div>
    </div>
</div>
