<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <h4>Запрос ценового предложение</h4>

                <div *ngIf="!editFrom" class="text-right">
                  <button class="btn btn-theme btn-lg" (click)="sentPriceLetter()">Отправить ценовое предложение</button>
                  <button class="btn btn-theme btn-lg" (click)="open(modalContentRequestQuery)">Запросить ценовое предложение</button>
                </div>

                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Статус запроса</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" formControlName="status">
                                            <ng-container *ngIf="( query.data['statusNames'] | json) != '{}' ">
                                                <option *ngFor="let item of query.data['statusNames'] | keys; let i = index" value="{{item.key}}">
                                                    {{ item.value }}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                               <!-- <h4>Контакты:</h4>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">  Имя, фамилия запрашивающего</label>
                                    <div class="col-sm-8">
                                      <ng-select [items]="userInfo"
                                                 [multiple]="false"
                                                 [closeOnSelect]="true"
                                                 [hideSelected]="false"
                                                 [addTag]="true"
                                                 bindLabel="fio"
                                                 bindValue="fio"
                                                 class="form-control"
                                                 formControlName="name"
                                                 (input)="onGetUserInfo($event)"
                                                 (change)="onSelectUserInfo($event)"
                                      >
                                      </ng-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" id="query_col_4">Название фирмы запрашивающего</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="company" placeholder="" formControlName="company">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" id="query_col_4">Электронная почта запрашивающего</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="email" placeholder="" formControlName="email" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" id="query_col_4">Телефонный номер запрашивающего</label>
                                    <div class="col-sm-8">
                                        <input type="text"  class="form-control" [textMask]="{mask: maskPhone, guide: true}" name="phone" placeholder="" formControlName="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                      <div>
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Информация об отправителя:</h4>
                                <app-autocomplete-city [form]="form" [fromData]="autocompleteCityFromFormComponent" [disableForm]="showFrom"></app-autocomplete-city>
                              <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label">Город отправителя </label>-->
                                <!--<div class="col-sm-8" >-->
                                  <!--<ng-select [items]="local_from"-->
                                             <!--[multiple]="false"-->
                                             <!--[closeOnSelect]="true"-->
                                             <!--[hideSelected]="false"-->
                                             <!--bindLabel="fullname"-->
                                             <!--bindValue="fullname"-->
                                             <!--class="form-control"-->
                                             <!--formControlName="city_from"-->
                                             <!--(input)="onGetLocationFrom($event)"-->
                                             <!--(change)="onSelectLocationFrom($event)"-->
                                  <!--&gt;-->
                                  <!--</ng-select>-->
                                <!--</div>-->
                              <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Страна отправителя</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input-->
                                          <!--type="text"-->
                                          <!--class="form-control"-->
                                          <!--name="country_from"-->
                                          <!--placeholder=""-->
                                          <!--formControlName="country_from"-->
                                        <!--/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Регион/Штат отправителя</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input-->
                                          <!--type="text"-->
                                          <!--class="form-control"-->
                                          <!--name="region_from"-->
                                          <!--placeholder=""-->
                                          <!--formControlName="region_from"-->
                                        <!--&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label"> Почтовый индекс отправителя</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input-->
                                          <!--type="text"-->
                                          <!--class="form-control"-->
                                          <!--name="zip_code_from"-->
                                          <!--placeholder=""-->
                                          <!--formControlName="zip_code_from"-->
                                        <!--&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Тип услуги</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" formControlName="type">
                                            <ng-container *ngIf="( query.data['typeNames'] | json) != '{}' ">
                                                <option *ngFor="let item of query.data['typeNames'] | keys; let i = index" value="{{item.key}}">
                                                    {{ item.value }}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <app-insurance-form-elem [form]="form" [formData]="query.data" [formDisabled]="showFrom"></app-insurance-form-elem>

                              <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Необходима ли страховка</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<select class="form-control m-b" name="insurance" formControlName="insurance">-->
                                            <!--<option value="0">Нет</option>-->
                                            <!--<option value="1" >Да</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                  <!--<label class="col-sm-4 control-label">Стоимость страховки</label>-->
                                  <!--<div class="col-sm-4">-->
                                    <!--<input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="insurance_price">-->
                                  <!--</div>-->
                                  <!--<div class="col-sm-4">-->
                                    <!--<input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="insurance_currency">-->
                                  <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                  <!--<label class="col-sm-4 control-label">Заявленная стоимость груза</label>-->
                                  <!--<div class="col-sm-8">-->
                                    <!--<input type="text" class="form-control" name="items_price" placeholder="" formControlName="items_price">-->
                                  <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Информация об получателе:</h4>
                                <app-autocomplete-city [form]="form" [fromData]="autocompleteCityToFormComponent" [disableForm]="showFrom"></app-autocomplete-city>
                              <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label"> Город получателя</label>-->
                                  <!--<div class="col-sm-8">-->
                                    <!--<ng-select [items]="local_to"-->
                                               <!--[multiple]="false"-->
                                               <!--[closeOnSelect]="true"-->
                                               <!--[hideSelected]="false"-->
                                               <!--bindLabel="fullname"-->
                                               <!--id="cityTo"-->
                                               <!--bindValue="fullname"-->
                                               <!--class="form-control"-->
                                               <!--formControlName="city_to"-->
                                               <!--(input)="onGetLocationTo($event)"-->
                                               <!--(change)="onSelectLocationTo($event)"-->
                                    <!--&gt;-->
                                    <!--</ng-select>-->
                                  <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Страна получателя</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input-->
                                          <!--type="text"-->
                                          <!--class="form-control"-->
                                          <!--placeholder=""-->
                                          <!--formControlName="country_to"-->
                                        <!--&gt;-->
                                    <!--</div>-->
                                <!--</div>-->

<!--                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Адресс</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="" formControlName="address_to">
                                    </div>
                                </div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Регион/Штат получателя</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input-->
                                          <!--type="text"-->
                                          <!--class="form-control"-->
                                          <!--placeholder=""-->
                                          <!--formControlName="region_to"-->
                                        <!--&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Почтовый индекс получателя</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input-->
                                          <!--type="text"-->
                                          <!--class="form-control"-->
                                          <!--placeholder=""-->
                                          <!--formControlName="zip_code_to"-->
                                        <!--&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Описание:</h4>
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Количетсво мест</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" name="items_count" placeholder="" formControlName="items_count">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Вес</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="items_totalweight" placeholder="" formControlName="items_totalweight">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <app-parcel-form-params
                          [form]="form" [formData]="query.data"
                          [calcFormControlName]="'items_totalweight'"
                          [typeFormControlName]="'type'"
                          [formDisabled]="showFrom"
                        ></app-parcel-form-params>
                        <!--<fieldset formGroupName="itemsParams">-->
                        <!--<table class="table">-->
                          <!--<thead>-->
                          <!--<tr>-->
                            <!--<th>-->
                              <!--Описани-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Документ или посылка-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Тип отправления-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Количество-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Вес-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Длина-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Шырина-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Высота-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Цена-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Валюта-->
                            <!--</th>-->
                          <!--</tr>-->
                          <!--</thead>-->
                          <!--<tbody>-->
                          <!--<tr *ngFor="let item of [1 ,2, 3, 4]; let i = index">-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="client_comment_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<select class="form-control" formControlName="items_type_{{i+1}}">-->
                                <!--<ng-container *ngIf="( query.data['itemstypeNames'] | json) != '{}' ">-->
                                  <!--<option *ngFor="let item of query.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                    <!--{{ item.value }}</option>-->
                                <!--</ng-container>-->
                              <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<select class="form-control" formControlName="delivery_type_{{i+1}}">-->
                                <!--<ng-container *ngIf="( query.data['deliverytypeNames'] | json) != '{}' ">-->
                                  <!--<option *ngFor="let item of query.data['deliverytypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                    <!--{{ item.value }}</option>-->
                                <!--</ng-container>-->
                              <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_count_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_weight_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_length_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_width_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_height_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_currency_{{i+1}}">-->
                            <!--</td>-->
                          <!--</tr>-->
                          <!--</tbody>-->
                        <!--</table>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 1</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="item1_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 1, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" name="size1_1" placeholder="" formControlName="item1_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size1_2" placeholder="" formControlName="item1_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size1_3" placeholder="" formControlName="item1_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 2</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight2" placeholder="" formControlName="item2_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 2, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" name="size2_1" placeholder="" formControlName="item2_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size2_2" placeholder="" formControlName="item2_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size2_3" placeholder="" formControlName="item2_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 3</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight3" placeholder="" formControlName="item3_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 3, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" formControlName="item3_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" formControlName="item3_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" formControlName="item3_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 4</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight4" placeholder="" formControlName="item4_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 4, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" name="size4_1" placeholder="" formControlName="item4_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size4_2" placeholder="" formControlName="item4_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size4_3" placeholder="" formControlName="item4_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                      <!--</fieldset>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Документы или поссылка</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<select class="form-control m-b" formControlName="items_type">-->
                                            <!--<ng-container *ngIf="( query.data['itemstypeNames'] | json) != '{}' ">-->
                                                <!--<option *ngFor="let item of query.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                                    <!--{{ item.value }}</option>-->
                                            <!--</ng-container>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Описание от клиента</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" formControlName="client_comment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Стоимость</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="" placeholder="" formControlName="delivery_price">
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Голая ставка</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="" placeholder="" formControlName="rate">
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Коментарий</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" formControlName="user_comment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="editFrom">
                      <!--<app-calculator [discount]="query.discount" [fuelMarkup]="query.fuel_markup"></app-calculator>-->
                    </ng-container>
                  <hr class="hr_query_bottom">
                    <div class="row">
                        <div class="text-right form-group">
                            <div class="col-md-6">
                                <a routerLink="/cabinet/queries" class="btn btn-white btn-lg">Назад</a>
                                <button *ngIf="editFrom" class="btn btn-primary btn-lg" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                  <app-history-order-table *ngIf="ordersinfoTable" [history]="ordersinfoTable"></app-history-order-table>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- start modal request-query -->
<ng-template  #modalContentRequestQuery let-c="close">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">×</button>
    <h4 class="modal-title">Запросить ценовое предложение</h4>
  </div>
  <form [formGroup]="formModal" class="form-horizontal" (ngSubmit)="onSubmitModal()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="col-sm-4 control-label">Выбрать тип перевозчика</label>
            <div class="col-sm-8">
              <select class="form-control m-b" formControlName="transportersType">
                <option value="">Выбор перевозчика</option>
                <option value="agents">Агенты</option>
                <option value="carriers">Перевозчики</option>
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="formModal.get('transportersType').value &&
                                         transporters">
            <label class="col-sm-4 control-label">
              {{ formModal.get('transportersType').value === 'agents' ? 'Выбрать Агенты' : 'Выбрать Перевозчика'}}
              </label>
            <div class="col-sm-8">
              <select class="form-control m-b" formControlName="transporterId">
                <option></option>
                <option
                  *ngFor="let transportUser of transporters.transporters | keys"
                  value="{{transportUser.key}}"
                >
                  {{transportUser.value}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="formModal.get('transportersType').value &&
                                         formModal.get('transporterId').value &&
                                         directions">
            <label class="col-sm-4 control-label">
              Направление
            </label>
            <div class="col-sm-8">
              <select class="form-control m-b" formControlName="directionId">
                <option></option>
                <option
                  *ngFor="let direction of directions.directions | keys"
                  value="{{direction.key}}"
                >
                  {{direction.value}}
                </option>
              </select>
            </div>
          </div>
          <fieldset *ngIf="formModal.get('transportersType').value &&
                           formModal.get('transporterId').value &&
                           formModal.get('name').value">
            <div class="form-group">
              <label class="col-sm-4 control-label">Имя</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Телефон</label>
              <div class="col-sm-8">
                <input type="text" [textMask]="{mask: maskPhone, guide: true}" class="form-control" formControlName="phone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Email</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Ответственное лицо</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="responsible_person">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-theme btn-lg">Отправить</button>
    </div>
  </form>
</ng-template>
<!-- end modal request-query -->

<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyB4yQHPro43J59vwIARg7PZSzh5yxgcNMY&libraries=places&callback=initAutocomplete" async defer>
  </script>
