<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="">
                    <a routerLink="./create" class="btn btn-theme btn-lg">Добавить запрос</a>
                </div>
                <div class="row">
                    <div class="col-sm-8">

                      <app-search-table
                        (searchData)="getSearchData($event)"
                        [searchInput]="'ФИО, Телефон, E-mail'"
                        [anotherFilterData]="managerList"
                      ></app-search-table>

                        <!--<form method="get" class="form-horizontal">-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-sm-4">-->
                                    <!--<input type="text" class="form-control" name="tel" placeholder="Поиск по слову" #searchWord>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<div class="col-sm-3">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<select class="form-control m-b" name="account">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Накладной</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Агента</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Получатель</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Тип отправления</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Статус</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Страна</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Город</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="col-sm-3">-->
                                    <!--<app-datepicker (sendDate)="getDate($event)"></app-datepicker>-->
                                <!--</div>-->
                                <!--<div class="col-sm-2">-->
                                    <!--<button class="btn btn-theme btn-md" (click)="tableSearch(searchWord.value)">search</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-white btn-md" [ngClass]="{'active': orders == ''}" (click)="tableOrders('')">Все запросы</button>
                        <button type="button" class="btn btn-white btn-md" [ngClass]="{'active': orders == 'active'}" (click)="tableOrders('active')">Новые запросы</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('name')">
                                        Имя
                                    </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('user_id')">
                                    Менеджер
                                  </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('status')">
                                        Статус
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('country_from')">
                                        Город/Страна отправителя
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('country_to')">
                                        Город/Страна получателя
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('type')">
                                        Тип услуги
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('-insurance')">
                                        Наличие страховки
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('items_totalweight')">
                                        Общий вес
                                    </a>
                                </th>
                                <th>
                                    <!--<a href="javascript:void(0);" (click)="tableSort('client_comment')">-->
                                        Описание
                                    <!--</a>-->
                                </th>
                                <th>
                                  <!--<a href="javascript:void(0);" (click)="tableSort('items_count')">-->
                                  Кол- во мест
                                  <!--</a>-->
                                </th>
                                <th>Размеры</th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('delivery_price')">
                                        Стоимость ценового предложения
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('created_at')">
                                        Дата создания запроса
                                    </a>
                                 </th>
                                <th>Действия</th>
                                <th>Операции</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let queries of queriesList['listdata']; let i = index">
                                <td>{{(i + queriesList['pagination']['pagesize'] * queriesList['pagination']['page']) + 1}}</td>
                                <td>{{queries.name}}</td>
                                <td>{{queries.managerName}}</td>
                                <td>{{queries.statusName}}</td>
                                <td>{{queries.countryCityFrom}}</td>
                                <td>{{queries.countryCityTo}}</td>
                                <td>{{queries.typeName}}</td>
                                <td>{{queries.insuranceName}}</td>
                                <td>{{queries.items_totalweight}}</td>
                                <td>{{queries.client_comment}}</td>
                                <td [innerHtml]="queries.ItemscountFormated"></td>
                                <td [innerHtml]="queries.sizeFormated"></td>
                                <td>{{queries.delivery_price}}</td>
                                <td>{{queries.created_at  * 1000 | date: 'd.MM.y H:mm'}}</td>
                                <td>
                                    <a [routerLink]="['show', queries.id]">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a [routerLink]="['edit', queries.id]">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-border-theme btn-xs" (click)="editQueries(queries.id, modalContentPrice)">Отправить ЦП</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination [page]="page" [paginationData]="queriesList['pagination']" (pageChange)="tablePage($event)"></app-pagination>
                <!--                            <div class="clearfix"></div>-->
            </div>
        </div>
    </div>
</div>

<!-- start modal price -->
<ng-template #modalContentPrice let-d="close">
    <div class="modal-header">
        <button type="button" class="close" (click)="d('Cross click')">×</button>
        <h4 class="modal-title">
          Данные для ценового запроса
        </h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" class="form-horizontal">
          <!----------New-------->

<!--          <div class="row">
            <div class="col-md-6">

              <div class="group">
                &lt;!&ndash; <h4>Контакты:</h4>&ndash;&gt;
                <div class="form-group">
                  <label class="col-sm-4 control-label" >Имя, фамилия запрашивающего</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" placeholder="" formControlName="name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" id="query_col_4">Название фирмы запрашивающего</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="company" placeholder="" formControlName="company">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" id="query_col_4">Электронная почта запрашивающего</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" name="email" placeholder="" formControlName="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" id="query_col_4">Телефонный номер запрашивающего</label>
                  <div class="col-sm-8">
                    <input type="text"  class="form-control" name="phone" placeholder="" formControlName="phone">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div>
              <div class="col-md-6">
                <div class="group">
                  <h4>Информация об отправителя:</h4>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Город отправителя </label>
                    <div class="col-sm-8" >
                      <ng-select [items]="local_from"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [hideSelected]="false"
                                 bindLabel="fullname"
                                 bindValue="name"
                                 class="form-control"
                                 formControlName="city_from"
                                 (keyup)="onGetLocationFrom($event)"
                                 (change)="onSelectLocationFrom($event)"
                      >
                      </ng-select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Страна отправителя</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        name="country_from"
                        placeholder=""
                        formControlName="country_from"
                        [(ngModel)]="titleCountry_from"

                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Регион/Штат отправителя</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        name="region_from"
                        placeholder=""
                        formControlName="region_from"
                        [(ngModel)]="titleRegion_from"
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label"> Почтовый индекс отправителя</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        name="zip_code_from"
                        placeholder=""
                        formControlName="zip_code_from"
                        [(ngModel)]="postalCode_from"
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Тип услуги</label>
                    <div class="col-sm-8">
                      <select class="form-control m-b" formControlName="type">
                        <ng-container *ngIf="( query.data['typeNames'] | json) != '{}' ">
                          <option *ngFor="let item of query.data['typeNames'] | keys; let i = index" value="{{item.key}}">
                            {{ item.value }}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Необходима ли страховка</label>
                    <div class="col-sm-8">
                      <select class="form-control m-b" name="insurance" formControlName="insurance">
                        <option value="0">Нет</option>
                        <option value="1" >Да</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Стоимость страховки</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="insurance_price" placeholder="" formControlName="insurance_price">
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="group">
                  <h4>Информация об получателе:</h4>
                  <div class="form-group">
                    <label class="col-sm-4 control-label"> Город получателя</label>
                    <div class="col-sm-8">
                      <ng-select [items]="local_to"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [hideSelected]="false"
                                 bindLabel="fullname"
                                 bindValue="name"
                                 class="form-control"
                                 formControlName="city_from"
                                 (keyup)="onGetLocationTo($event)"
                                 (change)="onSelectLocationTo($event)"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Страна получателя</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="country_to"
                        [(ngModel)]="titleCountry_to"

                      >
                    </div>
                  </div>

                    <label class="col-sm-4 control-label">Регион/Штат получателя</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="region_to"
                        [(ngModel)]="titleRegion_to"
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Почтовый индекс получателя</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="zip_code_to"
                        [(ngModel)]="postalCode_to"
                      >
                    </div>
                  </div>
                </div>
              </div>

            </div>


          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <h4>Описание:</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Количетсво мест</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="items_count" placeholder="" formControlName="items_count">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Вес</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="items_totalweight" placeholder="" formControlName="items_totalweight">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <fieldset formGroupName="itemsParams">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Размер, см</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control input-col-4" name="item1_s1" placeholder="" formControlName="item1_s1">
                    /
                    <input type="text" class="form-control input-col-4" name="item1_s2" placeholder="" formControlName="item1_s2">
                    /
                    <input type="text" class="form-control input-col-4" name="item1_s3" placeholder="" formControlName="item1_s3">
                  </div>
                </div>
              </div>

            </fieldset>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Документы или поссылка</label>
                  <div class="col-sm-8">
                    <select class="form-control m-b" formControlName="items_type">
                      <ng-container *ngIf="( query.data['itemstypeNames'] | json) != '{}' ">
                        <option *ngFor="let item of query.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">
                          {{ item.value }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Стоимость</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="delivery_price">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Коментарий</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="3" formControlName="user_comment"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>-->


          <!---------/-New-------->


            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <h4>Контакты:</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Имя</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Название фирмы отправителя</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="company">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Электронная почта отправителя</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" formControlName="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Телефон отправителя</label>
                            <div class="col-sm-8">
                                <input type="text" [textMask]="{mask: maskPhone, guide: true}" class="form-control" formControlName="phone">
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <h4>Информация об отправителя:</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Город</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="country_from">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Страна</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="city_from">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Район/Штат</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="region_from">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Индекс</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="zip_code_from">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Тип услуги</label>
                            <div class="col-sm-8">
                                <select class="form-control m-b" formControlName="type">
                                    <ng-container *ngIf="( query.data['typeNames'] | json) != '{}' ">
                                        <option *ngFor="let item of query.data['typeNames'] | keys; let i = index" value="{{item.key}}">
                                            {{ item.value }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <app-insurance-form-elem [form]="form" [formData]="query.data"></app-insurance-form-elem>

                      <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Необходима ли страховка</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<select class="form-control m-b" name="insurance" formControlName="insurance">-->
                                    <!--<option value="0">Нет</option>-->
                                    <!--<option value="1" >Да</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                          <!--<label class="col-sm-4 control-label">Стоимость страховки</label>-->
                          <!--<div class="col-sm-4">-->
                            <!--<input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="insurance_price">-->
                          <!--</div>-->
                          <!--<div class="col-sm-4">-->
                            <!--<input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="insurance_currency">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                          <!--<label class="col-sm-4 control-label">Цена страховки</label>-->
                          <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control" name="" placeholder="" formControlName="insurance_price">-->
                          <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Заявленная стоимость заказа</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="items_price">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <h4>Информация об получателе:</h4>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Страна</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" formControlName="country_to">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Город</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" formControlName="city_to">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Район/Штат</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" formControlName="region_to">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Индекс</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" formControlName="zip_code_to">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="group">
                        <h4>Описание:</h4>
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Количетсво мест</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="text" class="form-control" formControlName="items_count">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">
                            <fieldset formGroupName="itemsParams">
                                <label class="col-sm-4 control-label">Вес</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="margin-b">
                                                <input type="text" class="form-control" formControlName="item1_w">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="margin-b">
                                                <input type="text" class="form-control" formControlName="item2_w">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="margin-b">
                                                <input type="text" class="form-control" formControlName="item3_w">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="margin-b">
                                                <input type="text" class="form-control" formControlName="item4_w">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Документы или поссылка</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<select class="form-control m-b" formControlName="items_type">-->
                                    <!--<ng-container *ngIf="( query.data['itemstypeNames'] | json) != '{}' ">-->
                                        <!--<option *ngFor="let item of query.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                            <!--{{ item.value }}</option>-->
                                    <!--</ng-container>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                          <app-parcel-form-params [form]="form" [formData]="query.data" [calcFormControlName]="'items_totalweight'" [typeFormControlName]="'type'"></app-parcel-form-params>

                          <!--<fieldset formGroupName="itemsParams">-->
                            <!--<table class="table">-->
                              <!--<thead>-->
                              <!--<tr>-->
                                <!--<th>-->
                                  <!--Описани-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Документ или посылка-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Тип отправления-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Количество-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Вес-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Длина-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Шырина-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Высота-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Цена-->
                                <!--</th>-->
                                <!--<th>-->
                                  <!--Валюта-->
                                <!--</th>-->
                              <!--</tr>-->
                              <!--</thead>-->
                              <!--<tbody>-->
                              <!--<tr *ngFor="let item of [1 ,2, 3, 4]; let i = index">-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="client_comment_{{i+1}}">-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<select class="form-control" formControlName="items_type_{{i+1}}">-->
                                    <!--<ng-container *ngIf="( query.data['itemstypeNames'] | json) != '{}' ">-->
                                      <!--<option *ngFor="let item of query.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                        <!--{{ item.value }}</option>-->
                                    <!--</ng-container>-->
                                  <!--</select>-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<select class="form-control" formControlName="delivery_type_{{i+1}}">-->
                                    <!--<ng-container *ngIf="( query.data['deliverytypeNames'] | json) != '{}' ">-->
                                      <!--<option *ngFor="let item of query.data['deliverytypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                        <!--{{ item.value }}</option>-->
                                    <!--</ng-container>-->
                                  <!--</select>-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_count_{{i+1}}">-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_weight_{{i+1}}">-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_length_{{i+1}}">-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_width_{{i+1}}">-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_height_{{i+1}}">-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_{{i+1}}">-->
                                <!--</td>-->
                                <!--<td>-->
                                  <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_currency_{{i+1}}">-->
                                <!--</td>-->
                              <!--</tr>-->
                              <!--</tbody>-->
                            <!--</table>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="group">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Вес 1</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="item1_w">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Размер 1, см</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control input-col-4" name="size1_1" placeholder="" formControlName="item1_s1">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" name="size1_2" placeholder="" formControlName="item1_s2">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" name="size1_3" placeholder="" formControlName="item1_s3">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="group">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Вес 2</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control" name="weight2" placeholder="" formControlName="item2_w">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Размер 2, см</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control input-col-4" name="size2_1" placeholder="" formControlName="item2_s1">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" name="size2_2" placeholder="" formControlName="item2_s2">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" name="size2_3" placeholder="" formControlName="item2_s3">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="group">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Вес 3</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control" name="weight3" placeholder="" formControlName="item3_w">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Размер 3, см</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control input-col-4" formControlName="item3_s1">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" formControlName="item3_s2">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" formControlName="item3_s3">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="group">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Вес 4</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control" name="weight4" placeholder="" formControlName="item4_w">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">Размер 4, см</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control input-col-4" name="size4_1" placeholder="" formControlName="item4_s1">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" name="size4_2" placeholder="" formControlName="item4_s2">-->
                            <!--/-->
                            <!--<input type="text" class="form-control input-col-4" name="size4_3" placeholder="" formControlName="item4_s3">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                          <!--</fieldset>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="group">
                        <div class="form-group">
                        <label class="col-sm-4 control-label">Общий вес</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="items_totalweight">
                        </div>
                      </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Описание от клиента</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="3" formControlName="client_comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Стоимость перевозки</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="delivery_price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Комментарий к ценовому предложению</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="3" formControlName="user_comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-theme btn-lg"
          (click)="sendLetter()">Отправить</button>
    </div>
</ng-template>
<!-- end modal price -->
