<div class="container">
    <div class="row">
        <div class="locksreen-col text-center">
            <h3>Login to CRM</h3>
            <form [formGroup]="loginFrom" class="m-t" role="form" (submit)="login()">
                <div *ngIf="error" class="login-error">
                   {{error}}
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" formControlName="name">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Passowrd" formControlName="password">
                </div>
                <button [disabled]="loading"  type="submit" class="btn btn-theme btn-lg btn-block ">
                    <i *ngIf="loading" class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                    Login
                </button>
                <br>
            </form>
            <a routerLink="/password" >
                <small>Forgot password?</small>
            </a>
            <p class="text-center">
                <small>Do not have an account?</small>
            </p>
            <br>
            <p>Copyright © 2018</p>
        </div>
    </div>
</div>