<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div><!--end page title-->
    <div class="widget-row">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel-box">
                    <h4>Аналитика</h4>
                    <app-dashboard-analytics [analytics]="dashboardInfo['analitics_data']"></app-dashboard-analytics>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel-box">
                    <h4>Прибыль</h4>
                    <div>
                        <app-dashboard-profit [profit]="dashboardInfo['profit_data']"></app-dashboard-profit>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget-box clearfix">
                            <div class="pull-left">
                                <h4>Новых клиентов</h4>
                                <!--<h2>{{newCustomers}}</h2>-->
                              <h2>{{dashboardInfo['new_clients']}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="widget-box clearfix">
                            <div class="pull-left">
                                <h4>Всего клиентов</h4>
                                <!--<h2>{{allCustomers}}</h2>-->
                                <h2>{{dashboardInfo['active_clients']}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel-box">
                            <h4>Заказы</h4>
                            <app-dashboard-task [orders]="ordersInfo"></app-dashboard-task>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel-box">
                    <app-dashboard-managers [managersList]="dashboardInfo['managers_list']"></app-dashboard-managers>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-row">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget-box clearfix">
                    <div class="pull-left">
                        <h4>Новые заказы</h4>
                        <!--<h2>{{inCargo}}</h2>-->
                      <h2>{{dashboardInfo['new_orders']}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget-box clearfix">
                    <div class="pull-left">
                        <h4>Доставленные заказы</h4>
                        <!--<h2>{{outCagro}}</h2>-->
                      <h2>{{dashboardInfo['closed_orders']}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget-box clearfix">
                    <div class="pull-left">
                        <h4>Новых запросов</h4>
                        <!--<h2>{{newRequests}}</h2>-->
                      <h2>{{dashboardInfo['new_requests']}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget-box clearfix">
                    <div class="pull-left">
                        <h4>Обработанных запросов</h4>
                        <!--<h2>{{processedQueries}}</h2>-->
                      <h2>{{dashboardInfo['processed_requests']}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel-box">
                <h4>Запросы за месяц</h4>
                <app-dashboard-sales-average [monthRequests]="dashboardInfo['month_requests']"></app-dashboard-sales-average>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="panel-box">
            <h4>Заказы</h4>
            <div>
              <app-dashboard-orders
                [monthOrders]="dashboardInfo['month_orders']"
                [yearOrders]="dashboardInfo['year_orders']"
              ></app-dashboard-orders>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel-box">
                <app-dashboard-carriers [carriers]="dashboardInfo['transporters_list']"></app-dashboard-carriers>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel-box">
                <app-dashboard-agents [agents]="dashboardInfo['agents_list']"></app-dashboard-agents>
            </div>
        </div>
    </div>
</div>
