<div class="container">
  <div class="page-title">
    <h3>{{title}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel-box">
        <div class="table-responsive">
          <table class="table text-left">
            <thead >
              <tr>
                <th>Название услуги</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of storageDeal.listdata">
                <td>{{item.title}}</td>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
