<table class="table text-center customer-user-tariff-table" #contaractTable>
  <thead>
    <tr>
      <th>Напрвление</th>
      <th>Вес</th>
      <th>Ценa</th>
      <th>
        <button *ngIf="!showOnly" type="button" class="btn btn-theme btn-md" (click)="addDirection()">Добавить направление</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let direction of directions; let index = index" #parentInput>
      <td>
        <input
          type="text"
          name="direction_1"
          [value]="direction[0]"
          [disabled]="showOnly">
      </td>
      <td>
        <input
          type="text"
          name="wight_1"
          [value]="direction[1]"
          [disabled]="showOnly">
      </td>
      <td>
        <input
          type="text"
          name="price_1"
          [value]="direction[2]"
          [disabled]="showOnly">
      </td>
      <td>
        <button *ngIf="!showOnly" type="button" class="btn btn-danger btn-md btn" (click)="removeDirection(index)">Удалить направление</button>
      </td>
    </tr>
  </tbody>
</table>
