<div [formGroup]="form">
  <div class="form-group">
    <label class="col-sm-4 control-label">Необходима ли страховка</label>
    <div class="col-sm-8">
      <select class="form-control m-b" name="insurance" formControlName="insurance">
        <option value="0">Нет</option>
        <option value="1" >Да</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Стоимость страховки</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="" [readOnly]="readOnlyInputs" placeholder="Введите сумму" formControlName="insurance_price">
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" [readOnly]="readOnlyInputs" name="" placeholder="Введите валюту" formControlName="insurance_currency">
      <!--<input type="text" class="form-control" [attr.disabled]="disabledInputs ? '' : null" name="" placeholder="Введите валюту" formControlName="insurance_currency">-->
    </div>
  </div>
</div>
