<form method="get" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-4">
      <input type="text" class="form-control" name="tel" placeholder="Поиск по слову" [(ngModel)]="searchWord">
    </div>
    <div class="col-sm-3">
      <select class="form-control m-b" name="account">
        <option>Накладной</option>
        <option>Агента</option>
        <option>Получатель</option>
        <option>Тип отправления</option>
        <option>Статус</option>
        <option>Страна</option>
        <option>Город</option>
      </select>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-theme btn-md" (click)="tableSearch()">search</button>
    </div>
  </div>
</form>
