<div class="container">
    <div class="row">
        <div class="locksreen-col text-center">
            <h3>Recovery password</h3>
            <form class="m-t" role="form" [formGroup]="form" (submit)="resetPassword()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="" formControlName="email">
                </div>
                <button type="submit" class="btn btn-theme btn-lg btn-block ">Recovery password</button><br>
                <a routerLink='/login'>Login here</a>
                <br>
                <p>Copyright © 2018</p>
            </form>
        </div>
    </div>
</div>
