<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Имя</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="firstname" placeholder="" formControlName="firstname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Фамилия</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="lastname" placeholder="" formControlName="lastname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Телефон</label>
                                <div class="col-sm-8">
                                    <input type="text" [textMask]="{mask: maskPhone, guide: true}" class="form-control" name="phone" placeholder="" formControlName="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Электронная почта</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" name="email" placeholder="" formControlName="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Пароль</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="password" placeholder="" formControlName="password">
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a routerLink="/cabinet/profile" class="btn btn-white btn-lg">Назад</a>
                                <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
