<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="">
                    <a (click)="goToLink('/cabinet/admin-users/create')" class="btn btn-theme btn-lg">Добавить</a>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="tel" placeholder="ФИО или и e-mail" #searchWord>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-theme btn-md" (click)="tableSearch(searchWord.value)">search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>
                              №
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('id')">
                                id
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('username')">
                                    Логин
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('lastname')">
                                    Фамилия
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('firstname')">
                                    Имя
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('email')">
                                    Электронная почта
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('phone')">
                                    Номер телефона
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('type')">
                                    Роль
                                </a>
                            </th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<ng-container *ngIf="usersList['listdata'].length > 0">-->
                            <tr *ngFor="let user of usersList['listdata']; let i = index">
                                <td>{{(i + usersList['pagination']['pagesize'] * usersList['pagination']['page']) + 1}}</td>
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.firstname}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.role}}</td>
                                <td>
                                    <a [routerLink]="['/cabinet/admin-users/edit', user.id]">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0);" (click)="deleteUser(user.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        <!--</ng-container>-->
                        </tbody>
                    </table>
                </div>
                <app-pagination [page]="page" [paginationData]="usersList['pagination']" (pageChange)="tablePage($event)"></app-pagination>
                <!--                            <div class="clearfix"></div>-->
            </div>
        </div>
    </div>
</div>
