<div>
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
      <tr>
        <th>Тариф</th>
        <th>% Скидка</th>
        <th>% НСД</th>
        <th>НДС</th>
        <th>
          % Топливная<br> надбавка
        </th>
        <th>
          Топливная<br> надбавка
        </th>
        <th>Сумма</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>
          <input
            [(ngModel)]="tariffs"
            type="text"
            class="form-control"
            name=""
            placeholder=""
            (input)="calculation()"
          >
        </th>
        <th>{{discount}}</th>
        <th>
          <select class="form-control" [(ngModel)]="ndsPercent" (change)="calculation()">
            <option selected>0</option>
            <option>20</option>
          </select>
        </th>
        <th>{{nds}}</th>
        <th>
          <select class="form-control" (change)="calculation()" [(ngModel)]="fuelMarkupPercent">
            <option selected>0</option>
            <option>{{fuelMarkupPercentData}}</option>
          </select>
        </th>
        <th>{{fuelMarkup}}</th>
        <th>{{summ}}</th>
        <th>
          <button type="button" class="btn btn-theme btn-lg" (click)="setCalcToFrom()">
               Применить
          </button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
