<div class="container">
  <div class="page-title">
    <h3>{{title}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-box">
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th>
                  <a href="javascript:void(0);" (click)="tableSort('category')">
                    Категория
                  </a>
                 </th>
                <th>
                  <a href="javascript:void(0);" (click)="tableSort('name')">
                    Таможенная услуга
                  </a>
                </th>
                <th>
                  <a href="javascript:void(0);" (click)="tableSort('price')">
                    Стоимость
                  </a>
                </th>
                <th>
                  <a href="javascript:void(0);" (click)="tableSort('files')">
                    Документ
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tariffs.listdata">
                <td>{{item.category}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td class="pre" [innerHtml]="item.filesFormated">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
