<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Основная информаци:</h4>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Личный код</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="code" placeholder="" formControlName="code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">ФИО</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="fio" placeholder="" formControlName="fio">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Электронная почта</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="email" placeholder="" formControlName="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Телефон</label>
                                    <div class="col-sm-8">
                                        <input type="text" [textMask]="{mask: maskPhone, guide: true}" class="form-control" formControlName="phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Дата рождения</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="birthday" placeholder="" formControlName="birthday">
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <h4>Адрес:</h4>
                                <app-autocomplete-city [form]="form" [fromData]="autocompleteCityFormComponent" [disableForm]="'show' === crudPage"></app-autocomplete-city>
                              <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label">Город</label>-->
                                <!--<div class="col-sm-8">-->
                                  <!--<ng-select [items]="local_from"-->
                                             <!--[multiple]="false"-->
                                             <!--[closeOnSelect]="true"-->
                                             <!--[hideSelected]="false"-->
                                             <!--bindLabel="fullname"-->
                                             <!--bindValue="fullname"-->
                                             <!--class="form-control"-->
                                             <!--formControlName="city"-->
                                             <!--(input)="onGetLocationFrom($event)"-->
                                             <!--(change)="onSelectLocationFrom($event)"-->
                                  <!--&gt;-->
                                  <!--</ng-select>-->
                                <!--</div>-->
                              <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Страна</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" name="country" placeholder="" formControlName="country">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Индекс</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" name="zip_code" placeholder="" formControlName="zip_code">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Адрес</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="address" placeholder="" formControlName="address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Дом</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="house" placeholder="" formControlName="house">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Корпус</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="corps">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Квартира</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="room">
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <h4>Дополнительно:</h4>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Комментарий</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name="comment" rows="3" formControlName="comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Файл</label>
                                    <div class="col-sm-8">
                                      <app-form-file-upload
                                                          [form]="form"
                                                          [inputName]="'filesUpload'"
                                                          [files]="courier?.data?.filesList"
                                                          [modeCrud]="crudPage"
                                                          deleteFilesName="deleteFiles">
                                      </app-form-file-upload>
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <div class="col-sm-12">
                                        <a routerLink="/cabinet/couriers" class="btn btn-white btn-lg">Назад</a>
                                        <button *ngIf="'show' !== crudPage" class="btn btn-primary btn-lg">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
