<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="text-right ">
                    <button class="btn btn-border-theme btn-lg" (click)="sendLetter()">Выслать Договор на подпись</button>
                    <a routerLink="./create" class="btn btn-border-theme btn-lg">Добавить клиента</a>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="tel" placeholder="Телефон или почта" #searchWord>
                                </div>
                                <div class="col-sm-3">
                                    <!--<input type="text" class="form-control" name="time" placeholder="Период">-->
                                    <!--<app-datepicker [date]="date" (sendDate)="getDate($event)"></app-datepicker>-->
                                    <app-datepicker (sendDate)="getDate($event)"></app-datepicker>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="searchUser" [(ngModel)]="searchUserId">
                                        <option selected value=""></option>
                                        <option *ngFor="let item of usersList['listmanagers'] | keys" value="{{item.key}}">
                                          {{ item.value }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button href="#" class="btn btn-theme btn-md" (click)="tableSearch(searchWord.value)">search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <!--<div class="col-sm-5">-->
                                <!--<form method="get" class="form-horizontal">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-4 control-label">Менеджер</label>-->
                                        <!--<div class="col-sm-8">-->
                                            <!--<select class="form-control m-b" name="account">-->
                                                <!--<option>Марина</option>-->
                                                <!--<option>Марина</option>-->
                                                <!--<option>Марина</option>-->
                                                <!--<option>Марина</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-white btn-md" [ngClass]="{'active': orders == ''}" (click)="tableOrders('')">Все заказы</button>
                                <button type="button" class="btn btn-white btn-md" [ngClass]="{'active': orders == 'active'}" (click)="tableOrders('active')">Открытые заказы</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>№</th>
                                <th>ID</th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('company')">
                                    Фирма
                                  </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('fio')">
                                        ФИО
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('email')">
                                        Электронная почта
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('phone')">
                                        Телефон
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('status')">
                                        Статус
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('type')">
                                        Тип клиента
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('city')">
                                        Город
                                    </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('country')">
                                    Страна
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('openOrdersCount')">
                                    Наличие открытых заказов
                                  </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('discount')">
                                        Скидка на эксперсс услуги
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('created_at')">
                                        Дата создания
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('user_id')">
                                        Менеджер
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="usersList">
                            <tr *ngFor="let user of usersList['listdata']; let i = index">
                                <td>
                                    <input [checked]="isChecked" (click)="check(user.id)" type="checkbox">
                                </td>
                                <td>{{(i + usersList['pagination']['pagesize'] * usersList['pagination']['page']) + 1}}</td>
                                <td>{{user.id}}</td>
                                <td>
                                  <a [routerLink]="['./show', user.id]">
                                    {{user.company}}
                                  </a>
                                </td>
                                <td>
                                    <a [routerLink]="['./show', user.id]">
                                        {{user.fio}}
                                    </a>
                                </td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.statusName}}</td>
                                <td>{{user.typeName}}</td>
                                <td>{{user.city}}</td>
                                <td>{{user.country}}</td>
                                <td>{{user.openOrdersStatus}}</td>
                                <td>{{user.discount}}</td>
                                <td>{{user.created_at * 1000 | date: 'd.MM.y H:mm'}}</td>
                                <td>{{user.managerName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination [page]="page" [paginationData]="usersList['pagination']" (pageChange)="tablePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>
