<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)" #fdf>
                    <div class="group">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Тип клиента</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="type" formControlName="type">
                                    <ng-container *ngIf="( user.data['typeNames'] | json) != '{}' ">
                                        <option *ngFor="let item of user.data['typeNames'] | keys" value="{{item.key}}">{{ item.value }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Статус клиента</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="status" formControlName="status">
                                    <ng-container *ngIf="( user.data['statusNames'] | json) != '{}' ">
                                        <option *ngFor="let item of user.data['statusNames'] | keys" value="{{item.key}}">{{ item.value }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Псевдоним</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="login" formControlName="login">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ФИО</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="fio" formControlName="fio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Электронная почта</label>
                            <div class="col-sm-5">
                                <input type="email"  class="form-control" name="email" formControlName="email">
                            </div>
                            <div class="col-sm-2">
                                <input class="align-sub" value="email" type="radio" name="mail_for_send" formControlName="mail_for_send">
                                Выставить счет
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Телефон</label>
                            <div class="col-sm-5">
                                <input type="text" [textMask]="{mask: maskPhone, guide: true}"  class="form-control" name="phone" formControlName="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Фирма</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="company" formControlName="company">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Регистрационный номер фирмы</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="company_code" formControlName="company_code">
                            </div>
                        </div>
                      <app-autocomplete-city
                        [form]="form"
                        [fromData]="autocompleteCityFormComponent"
                        [controlLabelColClass]="'col-sm-3'"
                        [formControlColClass]="'col-sm-5'">
                      </app-autocomplete-city>
                      <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Город</label>-->
                        <!--<div class="col-sm-5">-->
                          <!--<ng-select [items]="local_from"-->
                                     <!--[multiple]="false"-->
                                     <!--[closeOnSelect]="true"-->
                                     <!--[hideSelected]="false"-->
                                     <!--[loading]="autocompleteLoading"-->
                                     <!--loadingText="Searching..."-->
                                     <!--bindLabel="fullname"-->
                                     <!--bindValue="fullname"-->
                                     <!--class="form-control"-->
                                     <!--formControlName="city"-->
                                     <!--(input)="onGetLocationFrom($event)"-->
                                     <!--(change)="onSelectLocationFrom($event)"-->
                          <!--&gt;-->
                          <!--</ng-select>-->
                        <!--</div>-->
                      <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">Страна</label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text"  class="form-control" name="country" formControlName="country">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">Адрес</label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text"  class="form-control" name="address" formControlName="address">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">Почтовый адрес</label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text"  class="form-control" name="postal_address" formControlName="postal_address">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">Район/Штат</label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text"  class="form-control" name="region" formControlName="region">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">Индекс</label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text"  class="form-control" name="zip_code" formControlName="zip_code">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Скидка на экспресс услуги</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="discount" formControlName="discount">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Файл</label>
                          <div class="col-sm-5">
                            <app-form-file-upload
                              [form]="form"
                              [inputName]="'filesUpload'"
                              [files]="user?.data?.filesList"
                              deleteFilesName="deleteFiles">
                            ></app-form-file-upload>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 text-right">Договорной тариф</label>
                            <div class="col-sm-5">
                                <input type="checkbox" class="align-sub" name="contract_tariff" formControlName="contract_tariff">
                            </div>
                        </div>
                    </div>
                    <fieldset class="col-sm-8">
                      <app-add-direction-table [directions]="user?.data?.contract_tariff_data"></app-add-direction-table>
                    </fieldset>
                    <div class="clearfix"></div>
                    <div class="group">
                        <h4>Данные для выставления счета</h4>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Электронный адрес</label>
                            <div class="col-sm-5">
                                <input type="email"  class="form-control" name="email2" formControlName="email2">
                            </div>
                            <div class="col-sm-2">
                                <input class="align-sub" value="email2" type="radio" name="mail_for_send" formControlName="mail_for_send">
                                Выставить счет
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Дополнительный телефон</label>
                            <div class="col-sm-5">
                                <input type="text" [textMask]="{mask: maskPhone, guide: true}"  class="form-control" name="phone2" formControlName="phone2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Назначить менеджера</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="user_id" formControlName="user_id">
                                    <ng-container *ngIf="( user.data['managersNames'] | json) != '{}' ">
                                        <option *ngFor="let item of user.data['managersNames'] | keys" value="{{item.key}}">{{ item.value }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="text-right form-group">
                            <div class="col-md-8">
                                <a [routerLink]="['/cabinet/customers-users/show', userId]"  class="btn btn-white btn-lg">Назад</a>
                                <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
