<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="">
                    <a routerLink="./create" class="btn btn-theme btn-lg">Добавить</a>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="tel" placeholder="ФИО, телефон" #searchWord (keyup.enter)="tableSearch(searchWord.value)">
                                </div>
                                <div class="col-sm-4">
                                    <button
                                      type="button"
                                      class="btn btn-theme btn-md"
                                      (click)="tableSearch(searchWord.value)"
                                    >search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('code')">
                                  Личный код
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('fio')">
                                  ФИО курьера
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('phone')">
                                  Телефон
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" (click)="tableSort('email')">
                                  Электронная почта
                                </a>
                            </th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let courier of couriers['listdata']; let i = index">
                                <td>{{(i + couriers['pagination']['pagesize'] * couriers['pagination']['page']) + 1}}</td>
                                <td>{{courier.code}}</td>
                                <td>{{courier.fio}}</td>
                                <td>{{courier.phone}}</td>
                                <td>{{courier.email}}</td>
                                <td>
                                    <a [routerLink]="['edit', courier.id]">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a [routerLink]="['show', courier.id]">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0);" (click)="deleteCourier(courier.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              <app-pagination [page]="page" [paginationData]="couriers['pagination']" (pageChange)="tablePage($event)"></app-pagination>
                <!--                                <div class="clearfix"></div>-->
            </div>
        </div>
    </div>
</div>
