<div [formGroup]="form">
  <fieldset formGroupName="n_{{counter}}">
    <div class="header-dynamic-form">
      <h4>Направление: {{directionName.value}}</h4>
      <button class="btn btn-danger btn-lg" type="button" (click)="delete('n_'+counter) ">Удалить</button>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Направление</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="name" #directionName>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Тип услуг</label>
      <div class="col-sm-8">
        <ss-multiselect-dropdown [options]="myOptions"  [texts]="myTexts" [settings]="mySettings" formControlName="typeParams"></ss-multiselect-dropdown>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Ответственное лицо</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="responsible_person">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Электронная почта</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Телефон</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" [textMask]="{mask: maskPhone, guide: true}" formControlName="phone">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Комментарий</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="3" formControlName="comment"></textarea>
      </div>
    </div>
  </fieldset>
</div>
