<div class="table-responsive">
    <table class="table text-center">
        <caption class="text-center">Агенты</caption>
        <thead>
            <tr>
                <th>Название компании</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agent of agentsInfo | keys">
                <td>{{agent.value.name}}</td>
                <td>{{agent.value.count}}</td>
            </tr>
        </tbody>
    </table>
</div>
