<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
              <div class="row">
                <div class="col-sm-12 text-right">
                  <app-modal-autocomplete
                    [bntName]="'Запросить ценовое предложение'"
                    [hideTransportersTypeCarriers]="true"
                    [ids]="storageIds"
                    [methodFromServiceToSendAllInfo]="'sendRequestQuote'"
                    (closeModal)="clearCheckbox()"
                  >Запросить ценовое предложение</app-modal-autocomplete>
                </div>
              </div>
                <div class="row">
                  <div class="col-sm-8">
                    <app-search-table
                      (searchData)="getSearchData($event)"
                      [anotherFilterData]="managerList"
                    ></app-search-table>
                  </div>
                  <div class="col-sm-4 text-right">

                    <app-modal-autocomplete
                      [bntName]="'Сформировать манифест'"
                      [hideTransportersTypeCarriers]="true"
                      [ids]="storageIds"
                      [methodFromServiceToSendAllInfo]="'sendCreateManifest'"
                      (closeModal)="clearCheckbox()"
                    >Сформировать манифест</app-modal-autocomplete>

                    <!--<button class="btn btn-border-theme btn-lg" (click)="open(modalContentManifest)">Сформировать манифест</button>-->
                  </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                          <tr>
                            <th>
                              &nbsp;
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('code_dkl')">
                                DKL № Накладной
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('code_transporter')">
                                Агент № Накладной
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('user_id')">
                                Менеджер
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('transporter_name')">
                                Имя агента
                              </a>
                            </th>
                            <th>
                              <!--<a href="javascript:void(0);" (click)="tableSort('status')">-->
                                Статус заказа
                              <!--</a>-->
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('name')">
                                Отправитель
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('phone')">
                                Номер телефона
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('city_from')">
                                Город/Страна Отправления
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('name_receiver')">
                                Получатель
                              </a>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('city_to')">
                                Город/Страна Назначения
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('type')">
                                Тип услуги
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('created_at')">
                                Дата создания запроса
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('stock_delivery_type')">
                                Способ отправки
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('delivery_price')">
                                Тариф
                              </a>
                            </th>
                            <th>
                              <a href="javascript:void(0);" (click)="tableSort('stock_date_come')">
                                Дата поступления на склад
                              </a>
                            </th>
                            <th>Манифест</th>
                            <th>Действия</th>
                            <th>Прикрепленные файлы</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let storage of storageList['listdata'];">
                              <td>
                                <input [checked]="isChecked" (click)="triggerCheckboxId(storage.id)" type="checkbox">
                              </td>
                              <td>
                                <a [routerLink]="['/cabinet/orders/show', storage.id]">
                                  {{storage.code_dkl}}
                                </a>
                              </td>
                              <td>
                                {{storage.code_transporter}}
                              </td>
                              <td>{{storage.managerName}}</td>
                              <td>{{storage.transporter_name}}</td>
                              <td>{{storage.statusName}}</td>
                              <td>
                                <a [routerLink]="['/cabinet/customers-users/show', storage.client_id]">
                                  {{storage.name}}
                                </a>
                              </td>
                              <td>{{storage.phone}}</td>
                              <td>{{storage.countryCityFrom}}</td>
                              <td>{{storage.name_receiver}}</td>
                              <td>{{storage.countryCityTo}}</td>
                              <td>{{storage.typeName}}</td>
                              <td>{{storage.created_at* 1000 | date: 'd.MM.y H:mm'}}</td>
                              <td>{{storage.stockDeliveryTypeName}}</td>
                              <td>{{storage.delivery_price}}</td>
                              <td>{{storage.stock_date_come* 1000 | date: 'd.MM.y H:mm'}}</td>
                              <td [innerHtml]="storage.filesManifestFormated"></td>
                              <td>
                                <a [routerLink]="['edit', storage.id]">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a [routerLink]="['show', storage.id]">
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                              </td>
                              <td [innerHtml]="storage.filesFormated">
                                  <!--<a href="/">-->
                                  <!--test.doc-->
                                  <!--</a>-->
                                  <!--<a href="/">-->
                                  <!--test.doc-->
                                  <!--</a>-->
                                  <!--<a href="/">-->
                                  <!--test.doc-->
                                  <!--</a>-->
                              </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination [page]="page" [paginationData]="storageList['pagination']" (pageChange)="tablePage($event)"></app-pagination>
                <!--                            <div class="clearfix"></div>-->
            </div>
        </div>
    </div>
</div>

<!-- start modal manifest -->
<ng-template #modalContentManifest let-d="close">
    <div class="modal-header">
        <button type="button" class="close" (click)="d('Cross click')">×</button>
        <h4 class="modal-title">Сформировать манифест</h4>
    </div>
    <form method="get" class="form-horizontal">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Выбрать агента:</label>
                        <div class="col-sm-8">
                            <select class="form-control m-b" name="">
                                <option>Марина</option>
                                <option>Марина</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Выбрать направление:</label>
                        <div class="col-sm-8">
                            <select class="form-control m-b" name="">
                                <option>Марина</option>
                                <option>Марина</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Выбрать почту:</label>
                        <div class="col-sm-8">
                            <select class="form-control m-b" name="">
                                <option>Марина</option>
                                <option>Марина</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-theme btn-lg">Отправить</button>
        </div>
    </form>
</ng-template>
<!-- end modal manifest -->
