<div style="display: block">
    <canvas baseChart height="200"
            [data]="polarAreaChartData"
            [labels]="polarAreaChartLabels"
            [legend]="polarAreaLegend"
            [chartType]="polarAreaChartType">
    </canvas>
</div>