<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Тип клиента</label>
                        <div class="col-sm-5">
                            <select class="form-control m-b" name="type" formControlName="type">
                                <ng-container *ngIf="( data.data['typeNames'] | json) != '{}' ">
                                    <option *ngFor="let item of data.data['typeNames'] | keys" value="{{item.key}}">
                                        {{ item.value }}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Псевдоним</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="login" placeholder=""  formControlName="login">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">ФИО</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="fio" placeholder="" formControlName="fio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Электронная почта</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control" name="email" placeholder="" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Телефон</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" [textMask]="{mask: maskPhone, guide: true}" name="phone" placeholder="" formControlName="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Фирма</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="company" placeholder="" formControlName="company">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Регистрационный номер фирмы</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="company_code" placeholder="" formControlName="company_code">
                        </div>
                    </div>
                    <app-autocomplete-city
                      [form]="form"
                      [fromData]="autocompleteCityFormComponent"
                      [controlLabelColClass]="'col-sm-3'"
                      [formControlColClass]="'col-sm-5'">
                    </app-autocomplete-city>
                  <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label">Город</label>-->
                    <!--<div class="col-sm-5">-->
                      <!--<ng-select [items]="local_from"-->
                                 <!--[multiple]="false"-->
                                 <!--[closeOnSelect]="true"-->
                                 <!--[hideSelected]="false"-->
                                 <!--[loading]="autocompleteLoading"-->
                                 <!--loadingText="Searching..."-->
                                 <!--bindLabel="fullname"-->
                                 <!--bindValue="fullname"-->
                                 <!--class="form-control"-->
                                 <!--formControlName="city"-->
                                 <!--(input)="onGetLocationFrom($event)"-->
                                 <!--(change)="onSelectLocationFrom($event)"-->
                      <!--&gt;-->
                      <!--</ng-select>-->
                    <!--</div>-->
                  <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Страна</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text" class="form-control" name="country" placeholder="" formControlName="country">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Адрес</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text" class="form-control" name="address" placeholder="" formControlName="address">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Почтовый адрес</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text" class="form-control" name="postal_address" placeholder="" formControlName="postal_address">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Район/Штат</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text" class="form-control" name="region" placeholder="" formControlName="region">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Индекс</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text" class="form-control" name="zip_code" placeholder="" formControlName="zip_code">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Скидка</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="discount" placeholder="" formControlName="discount">
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Файл</label>
                      <div class="col-sm-5">
                        <app-form-file-upload [form]="form" [inputName]="'filesUpload'"></app-form-file-upload>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 text-right">Договорной тариф</label>
                        <div class="col-sm-5">
                            <input type="checkbox" name="contract_tariff" class="align-sub" formControlName="contract_tariff">
                        </div>
                    </div>
                    <fieldset class="col-sm-8">
                      <app-add-direction-table [directions]="user?.data?.contract_tariff_data"></app-add-direction-table>
                    </fieldset>
                    <div class="clearfix"></div>
                    <div class="text-right form-group">
                        <div class="col-md-8">
                            <a routerLink="/cabinet/customers-users" class="btn btn-white btn-lg">Назад</a>
                            <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
