<div class="container" >
    <div class="page-title">
        <h3>{{title}}</h3>
    </div><!--end page title-->
    <div class="text-right">
        <button class="btn btn-theme btn-lg" (click)="open(modalContentAddTask)">Добавить задачу</button>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel-box">
                <h4>Календарь</h4>
                <!--<ng-template #modalContent let-close="close">-->
                    <!--<div class="modal-header">-->
                        <!--<h5 class="modal-title">Event action occurred</h5>-->
                        <!--<button type="button" class="close" (click)="close()">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<div>-->
                            <!--Action:-->
                            <!--<pre>{{ modalData?.action }}</pre>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--Event:-->
                            <!--<pre>{{ modalData?.event | json }}</pre>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>-->
                    <!--</div>-->
                <!--</ng-template>-->

                <div class="flex flex_justify-center flex_justify-between">
                    <div class="">
                        <div class="btn-group">
                            <button
                                    class="calendar-icon calendar-icon_left"
                                    mwlCalendarPreviousView
                                    [view]="view"
                                    [(viewDate)]="viewDate"
                                    (click)="whatADate()"
                                    [disabled]="disabledBtn.prev.disabledBtnState"
                                    (viewDateChange)="activeDayIsOpen = false">
                                <i class="fa fa-angle-left"></i>
                            </button>
                        </div>
                    </div>
                    <div class="">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'ru' }} </h3>
                    </div>
                    <div class="">
                        <div class="btn-group">
                            <button
                                    class="calendar-icon calendar-icon_right"
                                    mwlCalendarNextView
                                    [view]="view"
                                    [(viewDate)]="viewDate"
                                    (click)="whatADate()"
                                    [disabled]="disabledBtn.next.disabledBtnState"
                                    (viewDateChange)="activeDayIsOpen = false">
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <ng-template #customCellTemplate let-day="day" let-locale="locale">
                    <div class="cal-cell-top">
                        <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
                        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                    </div>
                    <small style="margin: 5px">{{ day.events.length }}</small>
                </ng-template>
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view

                            *ngSwitchCase="'month'"
                            [viewDate]="viewDate"
                            [events]="eventArray"
                            [refresh]="refresh"
                            [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)="dayClicked($event.day)"
                            [weekStartsOn]="weekStartsOn"
                            [cellTemplate]="customCellTemplate">
                    </mwl-calendar-month-view>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel-box">
                <h4>Задачи</h4>
                <div class="row">
                    <div class="col-md-8">
                        <button type="button"
                                class="btn btn-white"
                                [ngClass]="{'active': taskF == 'all'}"
                                (click)="tasksFilte('all')">
                          Все задачи
                        </button>
                        <button type="button"
                                class="btn btn-white"
                                (click)="tasksFilte('old')"
                                [ngClass]="{'active': taskF == 'old'}">
                          Просроченные задачи</button>
                        <button
                          type="button"
                          class="btn btn-white"
                          (click)="tasksFilte('my')"
                          [ngClass]="{'active': taskF == 'my'}">
                          Мои задачи</button>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <select class="form-control m-b" (change)="managerFilter($event)">
                            <option value="" [selected]="'' === managerId">Все</option>
                            <option
                              *ngFor="let manager of tasks.listmanagers | keys"
                              [selected]="manager.key === managerId"
                              value="{{manager.key}}"
                            >{{manager.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                          <tr>
                              <th>Номер</th>
                              <th>Название</th>
                              <th>Краткое описание</th>
                              <th>Дата оконания</th>
                              <th>Приоритет задачи</th>
                              <th>Ответственный</th>
                              <th>Статус</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasks.listdata; let i = index">
                                <td>{{(i + tasks['pagination']['pagesize'] * tasks['pagination']['page']) + 1}}</td>
                                <td>{{task.title}}</td>
                                <td>{{task.description}}</td>
                                <td>{{task.end_date * 1000 | date: 'd.MM.y'}}</td>
                                <td>{{task.priorityName}}</td>
                                <td>{{task.managerFullname}}</td>
                                <td>
                                    <select class="form-control m-b" (change)="statusChange(task.id, $event)">
                                        <option
                                          *ngFor="let item of task.statusNames | keys"
                                          value="{{item.key}}"
                                          [selected]="item.key === task.status"
                                        >
                                          {{item.value}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              <app-pagination [page]="page" [paginationData]="tasks['pagination']" (pageChange)="tablePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>

<!-- start modal add-task -->
<ng-template #modalContentAddTask let-d="close">
    <div class="modal-header">
        <button type="button" class="close" (click)="d('Cross click')">×</button>
        <h4 class="modal-title">Добавить задачу</h4>
    </div>
    <form [formGroup]="formModal" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Название задачи</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Описание задачи</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="4" formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Дата выполнения</label>
                        <div class="col-sm-7">
                            <!--<input type="text" type="date" class="form-control" formControlName="end_date">-->
                          <app-datepicker
                            [form]="formModal"
                            formElemName="end_date"
                            datepikerMode="single"
                            placeholder="Дата не выбрана"
                          ></app-datepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Ответсвенный</label>
                        <div class="col-sm-7">
                            <select class="form-control m-b" formControlName="user_id">
                              <option
                                *ngFor="let listmanager of taskModal.data.listmanagers | keys"
                                value="{{listmanager.key}}"
                              >
                                {{listmanager.value}}
                              </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Приоритет задач</label>
                        <div class="col-sm-7">
                            <select class="form-control m-b" formControlName="priority">
                                <option
                                    *ngFor="let priorityName of taskModal.data.priorityNames | keys"
                                    value="{{priorityName.key}}"
                                >
                                  {{priorityName.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-theme btn-lg">Поставить задачу</button>
        </div>
    </form>
</ng-template>
<!-- end modal add-task -->
