<button [disabled]="!ids.length" class="btn btn-theme btn-lg" (click)="open(modalContentRequestQuery)">{{bntName}}</button>
<ng-template  #modalContentRequestQuery let-c="close">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">×</button>
    <h4 class="modal-title">
      <ng-content></ng-content>
    </h4>
  </div>
  <form [formGroup]="formModal" class="form-horizontal" (ngSubmit)="onSubmitModal()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="col-sm-4 control-label">Выбрать тип перевозчика</label>
            <div class="col-sm-8">
              <select class="form-control m-b" formControlName="transportersType">
                <option value="">Выбор перевозчика</option>
                <option  value="agents">Агенты</option>
                <option *ngIf="!hideTransportersTypeCarriers" value="carriers">Перевозчики</option>
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="formModal.get('transportersType').value &&
                                         transporters">
            <label class="col-sm-4 control-label">
              {{ formModal.get('transportersType').value === 'agents' ? 'Выбрать Агенты' : 'Выбрать Перевозчика'}}
            </label>
            <div class="col-sm-8">
              <select class="form-control m-b" formControlName="transporterId">
                <option></option>
                <option
                  *ngFor="let transportUser of transporters.transporters | keys"
                  value="{{transportUser.key}}"
                >
                  {{transportUser.value}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="formModal.get('transportersType').value &&
                                         formModal.get('transporterId').value &&
                                         directions">
            <label class="col-sm-4 control-label">
              Направление
            </label>
            <div class="col-sm-8">
              <select class="form-control m-b" formControlName="directionId">
                <option></option>
                <option
                  *ngFor="let direction of directions.directions | keys"
                  value="{{direction.key}}"
                >
                  {{direction.value}}
                </option>
              </select>
            </div>
          </div>
          <fieldset *ngIf="formModal.get('transportersType').value &&
                           formModal.get('transporterId').value &&
                           formModal.get('name').value">
            <div class="form-group">
              <label class="col-sm-4 control-label">Имя</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Телефон</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="phone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Email</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Ответственное лицо</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="responsible_person">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-theme btn-lg">Отправить</button>
    </div>
  </form>
</ng-template>
