<ng-template #modalView let-d="close">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">×</button>
    <h4 class="modal-title">Выставить счет</h4>
  </div>
  <div class="modal-body">
    <div class="flex flex_justify-center">
      <div class="date-title">
        Выберите период для выставления счета
      </div>
      <div class="date-picker">
        <app-datepicker (sendDate)="getDateToBill($event)"></app-datepicker>
      </div>
    </div>
    <div *ngIf="ordersList.length" class="">
      <h5 class="order-title">Список заказов</h5>
      <!--<ul  class="order-list">-->
        <!--<li *ngFor="let order of ordersList">-->
          <!--<label class="order-list_label">-->
            <!--<input class="order-list_checkbox" type="checkbox" [disabled]="!order.invoice_document_send" (change)="triggerCheckboxId($event, order.id)">-->
            <!--{{order.name}}-->
          <!--</label>-->
        <!--</li>-->
      <!--</ul>-->
      <table class="table text-center">
        <thead>
          <tr>
            <th>
              &nbsp;
            </th>
            <th>
              № DKL
            </th>
            <th>
              Статут
            </th>
            <th>
              Статус счета
            </th>
            <th>
              Дата выставления счета
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of ordersList" [ngClass]="{'tr-disabled': order['invoice_document_send']}">
            <td>
              <input class="order-list_checkbox" type="checkbox" (change)="triggerCheckboxId($event, order.id)">
            </td>
            <td>
              {{order.code_dkl}}
            </td>
            <td>
              {{order.statusName}}
            </td>
            <td>
              {{order.invoiceStatusName}}
            </td>
            <td>
              {{order.invoice_date | date: 'd.MM.y H:mm'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="ordersList && orderIds.length" class="modal-footer">
    <button class="btn btn-theme btn-lg" type="button" (click)="openPreviewDocument()">Предпросмотр</button>
    <button class="btn btn-theme btn-lg" type="button" (click)="downloadDocument()">Сохранить в PDF</button>
    <button class="btn btn-theme btn-lg" type="button" (click)="sendBill()">Отправить</button>
  </div>
</ng-template>
<!--<ng-container *ngIf="stateModalCreateBill">-->
  <!--<object data="http://www.axmag.com/download/pdfurl-guide.pdf" width="100%" height="100%" type='application/pdf'>-->
    <!--You do not have Word installed on your machine-->
  <!--</object>-->
<!--</ng-container>-->
