.btn {
  margin-bottom: 0px;
}

.date-title {
  margin-right: 15px;
  font-size: 16px;
}

.order-title {
  font-size: 18px;
  margin-top: 15px;
}

.order-list {
  list-style-type: none;
  padding-left: 0;
}

.order-list_label {
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
}
.order-list_checkbox {
  margin: 0;
  vertical-align: middle;
  margin-right: 4px;
}
.tr-disabled {
  background-color: #d6d6d6;
}
