<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="row">
                    <div class="col-sm-8">
                        <!--<form method="get" class="form-horizontal">-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-sm-4">-->
                                    <!--<input type="text" class="form-control" name="tel" placeholder="Поиск по слову">-->
                                <!--</div>-->
                                <!--<div class="col-sm-3">-->
                                    <!--<select class="form-control m-b" name="account">-->
                                        <!--<option>Накладной</option>-->
                                        <!--<option>Агента</option>-->
                                        <!--<option>Получатель</option>-->
                                        <!--<option>Тип отправления</option>-->
                                        <!--<option>Статус</option>-->
                                        <!--<option>Страна</option>-->
                                        <!--<option>Город</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3">-->
                                    <!--<input type="text" class="form-control js-datepicker" name="time">-->
                                <!--</div>-->
                                <!--<div class="col-sm-2">-->
                                    <!--<button class="btn btn-theme btn-md">search</button>-->
                                <!--</div>-->
                                <app-search-table
                                    (searchData)="getSearchData($event)"
                                    searchInput='Название перевозчика'
                                    [anotherFilterData]="managerList"
                                ></app-search-table>
                            <!--</div>-->
                        <!--</form>-->
                    </div>
                    <div class="col-sm-4 text-right">
                        <a routerLink="./create" class="btn btn-theme btn-lg">Выслать ценовой запрос</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('transporter_name')">
                                      Название перевозчика
                                    </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('user_id')">
                                    Менеджер
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('transporter_direction_name')">
                                    Направление
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('country_from')">
                                    Город/Страна отправителя
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('country_to')">
                                    Город/Страна получателя
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('type')">
                                    Тип услуги
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('insurance')">
                                    Наличие страховки
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('items_count')">
                                    Кол- во мест
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('items_totalweight')">
                                    Общий вес
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('items_type')">
                                    Тип посылки
                                  </a>
                                </th>
                                <th>
                                  <!--<a href="javascript:void(0);" (click)="tableSort('client_comment')">-->
                                    Описание
                                  <!--</a>-->
                                </th>
                                <th>Размеры</th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('delivery_price')">
                                      Стоимость ценового предложения
                                    </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('files')">
                                    Документ
                                  </a>
                                </th>
                                <th>
                                    <a href="javascript:void(0);" (click)="tableSort('created_at')">
                                      Дата создания запроса
                                    </a>
                                </th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let queries of queriesPrice['listdata']; let i = index">
                              <td>{{(i + queriesPrice['pagination']['pagesize'] * queriesPrice['pagination']['page']) + 1}}</td>
                                <td>{{queries.transporter_name}}</td>
                                <td>{{queries.managerName}}</td>
                                <td>{{queries.transporter_direction_name}}</td>
                                <td>{{queries.countryCityFrom}}</td>
                                <td>{{queries.countryCityTo}}</td>
                                <td>{{queries.typeName}}</td>
                                <td>{{queries.insuranceName}}</td>
                                <td>{{queries.items_count}}</td>
                                <td>{{queries.items_totalweight}}</td>
                                <td>{{queries.itemstypeName}}</td>
                                <td>{{queries.client_comment}}</td>
                                <td [innerHtml]="queries.sizeFormated"></td>
                                <td>{{queries.delivery_price}}</td>
                                <td [innerHtml]="queries.filesFormated"></td>
                                <td>{{queries.created_at * 1000 | date: 'd.MM.y'}}</td>
                                <td>
                                    <a [routerLink]="['./show', queries.id]">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a [routerLink]="['./edit', queries.id]">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination [page]="page" [paginationData]="queriesPrice['pagination']" (pageChange)="tablePage($event)"></app-pagination>
                <!--                            <div class="clearfix"></div>-->
            </div>
        </div>
    </div>
</div>
