<div [formGroup]="form">
  <fieldset formGroupName="itemsParams">
    <table class="table">
      <thead>
      <tr>
        <th>
          Описани
        </th>
        <th>
          Документ или посылка
        </th>
        <th>
          Тип отправления
        </th>
        <th>
          Количество
        </th>
        <th>
          Вес
        </th>
        <th>
          Длина
        </th>
        <th>
          Шырина
        </th>
        <th>
          Высота
        </th>
        <th>
          Цена
        </th>
        <th>
          Валюта
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of countItemsParams; let i = index">
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="client_comment_{{i+1}}">
        </td>
        <td>
          <select class="form-control" formControlName="items_type_{{i+1}}">
            <ng-container *ngIf="( formData['itemstypeNames'] | json) != '{}' ">
              <option *ngFor="let item of formData['itemstypeNames'] | keys; let i = index" value="{{item.key}}">
                {{ item.value }}</option>
            </ng-container>
          </select>
        </td>
        <td>
          <select class="form-control" formControlName="delivery_type_{{i+1}}">
            <ng-container *ngIf="( formData['deliverytypeNames'] | json) != '{}' ">
              <option *ngFor="let item of formData['deliverytypeNames'] | keys; let i = index" value="{{item.key}}">
                {{ item.value }}</option>
            </ng-container>
          </select>
        </td>
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_count_{{i+1}}">
        </td>
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_weight_{{i+1}}">
        </td>
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_length_{{i+1}}">
        </td>
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_width_{{i+1}}">
        </td>
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_height_{{i+1}}">
        </td>
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_{{i+1}}">
        </td>
        <td>
          <input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_currency_{{i+1}}">
        </td>
      </tr>
      </tbody>
    </table>
  </fieldset>
</div>
