.menu-item {
  display: inline-block;
  position: relative;
}
.menu-item_count {
  position: absolute;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  color: #fff;
  top: -15px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
