<!--<ul class="metismenu clearfix" id="menu">-->
    <!--&lt;!&ndash;<li class="profile-menu visible-xs">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="images/user.png" alt="" class="pull-left">&ndash;&gt;-->
            <!--&lt;!&ndash;<span>Angila Deo <br><em>Admin</em></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="dropdown-menu profile-drop">&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Account</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Settings</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Logout</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--<li>-->
        <!--<a routerLink="/cabinet" routerLinkActive="active">-->
            <!--<i class="fa fa-home"></i>-->
            <!--<span>Dashboard</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a routerLink="/cabinet/queries" routerLinkActive="active">-->

            <!--<i class="fa fa-user"></i>-->
            <!--<span class="nav-label">Пользователи</span>-->
            <!--<span class="fa arrow"></span>-->
        <!--</a>-->
        <!--<ul class="nav nav-second-level collapse">-->
            <!--<li>-->
                <!--<a href="/customers_users.php">Клиенты</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/admin_users.php">Андмин персонал</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="queries.php">-->
            <!--<i class="fa fa-home"></i>-->
            <!--<span>Запросы</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="orders.php">-->
            <!--<i class="fa fa-map"></i>-->
            <!--<span>Заказы</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="storage.php">-->
            <!--<i class="fa fa-signal"></i>-->
            <!--<span>Склад</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="taskman.php">-->
            <!--<i class="fa fa-calendar"></i>-->
            <!--<span>Задачник</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="queries_price.php">-->
            <!--<i class="fa fa-usd"></i>-->
            <!--<span>Запросы на цену</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="carriers.php">-->
            <!--<i class="fa fa-truck"></i>-->
            <!--<span>Перевозчики</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="agents.php">-->
            <!--<i class="fa fa-users"></i>-->
            <!--<span>Агенты</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="courier.php">-->
            <!--<i class="fa fa-archive"></i>-->
            <!--<span>Курьеры</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="accounting.php">-->
            <!--<i class="fa fa-clipboard"></i>-->
            <!--<span>Бухгалтерия</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="/">-->
            <!--<i class="fa fa-pie-chart"></i>-->
            <!--<span class="nav-label">Тарифный справочник</span>-->
            <!--<span class="fa arrow"></span>-->
        <!--</a>-->
        <!--<ul class="nav nav-second-level collapse">-->
            <!--<li>-->
                <!--<a href="tariffs_dkl.php">Тарифы DKL</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="tariffs_carriage.php">Тарифы перевозчиков</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="warehouse_services.php">Складские услуги</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="customs_tariffs.php">Таможенные тарифы</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</ul>-->
<ul class="metismenu clearfix" id="menu">
    <li *ngFor="let elem of menuElems">
        <a *ngIf="!elem.subMenu" [routerLink]="elem.link" routerLinkActive="active">
            <i class="fa {{elem.icon}}"></i>
            <span class="menu-item">
              {{elem.name}}
              <span *ngIf="elem.count" class="menu-item_count">{{elem.count}}</span>
            </span>
        </a>
        <ng-container *ngIf="elem.subMenu">
            <a href="/" (click)="toggleMenu($event)" >
                <i class="fa {{elem.icon}}"></i>
                <span class="nav-label">{{elem.name}}</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
                <li *ngFor="let sunElem of elem.subMenu">
                    <!--<a  *ngIf="sunElem.permission" [routerLink]="sunElem.link" routerLinkActive="active">{{sunElem.name}}</a>-->
                    <a [routerLink]="sunElem.link" routerLinkActive="active" appAccessRights [permission]="sunElem?.permission">{{sunElem.name}}</a>
                </li>
            </ul>
        </ng-container>
    </li>
</ul>

