<div class="panel-box">
  <div class="table-responsive">
    <h4>{{title}}</h4>
    <table class="table text-center">
      <thead>
        <tr>
          <th>Вес</th>
          <th>Зона 1</th>
          <th>Зона 2</th>
          <th>Зона 3</th>
          <th>Зона 4</th>
          <th>Зона 5</th>
          <th>Зона 6</th>
          <th>Зона 7</th>
          <th>Зона 8</th>
          <th>Зона 9</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transporters">
          <td>{{item.value}}</td>
          <td>{{item.zone_1}}</td>
          <td>{{item.zone_2}}</td>
          <td>{{item.zone_3}}</td>
          <td>{{item.zone_4}}</td>
          <td>{{item.zone_5}}</td>
          <td>{{item.zone_6}}</td>
          <td>{{item.zone_7}}</td>
          <td>{{item.zone_8}}</td>
          <td>{{item.zone_9}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
