<div class="table-responsive">
    <table class="table text-center">
        <caption class="text-center">Перевозчики</caption>
        <thead>
            <tr>
                <th>Название компании</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let carrier of carriersInfo | keys">
              <td>{{carrier.value.name}}</td>
              <td>{{carrier.value.count}}</td>
            </tr>
        </tbody>
    </table>
</div>
