<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <app-tariffs-zone [zones]="tariffs.zones"></app-tariffs-zone>
        </div>
        <div class="col-sm-9">
            <app-tariffs-transporters [title]="'Документы'" [transporters]="tariffs.documents"></app-tariffs-transporters>
            <app-tariffs-transporters [title]="'Документные  пакеты'" [transporters]="tariffs.documents_packets"></app-tariffs-transporters>
            <app-tariffs-transporters [title]="'Пакеты'" [transporters]="tariffs.packets"></app-tariffs-transporters>
        </div>
    </div>
</div>
