.tooltip {
    position: fixed;
    top: 60px;
    right: 0px;
    padding: 15px;
    z-index: 999;
    color: #fff;
    background: #f7b03e;
    visibility: visible;
    opacity: 1;
    transition: .5s;
    transform: translateX(100%);
}

.tooltip.show {
    transform: translateX(0);
}