<div class="fixed-left" [ngClass]="{'widescreen': openMenu}">
    <div id="wrapper">
        <div class="topbar">
            <app-top-bar (eventMainMenu)="stateMenu($event)"></app-top-bar>
        </div>
        <div class="side-menu left" id="side-menu">
            <app-left-menu></app-left-menu>
            <!--<app-left-menu [stateMenu]="openMenu"></app-left-menu>-->
        </div>

        <div class="content-page equal-height">
            <div class="content">
                <router-outlet ></router-outlet>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
