<div style="display: block">
<div class="text-center">
    <button class="btn btn-theme" [ngClass]="{'active': isYearActive}" type="button" (click)="orderYear()">Заказы за год</button>
    <button class="btn btn-theme" [ngClass]="{'active': !isYearActive}" type="button" (click)="orderMonth()">Заказы за месяц</button>
</div>
<canvas baseChart height="200"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType">
</canvas>
</div>
