<div class="container">
  <div class="page-title">
    <h3>{{title}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-box">
        <div class="">
          <a routerLink="./create" class="btn btn-theme btn-lg">Добавить</a>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <form method="get" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="tel" placeholder="Имя первозчика, телефон" #seerchKey (keyup.enter)="tableSearch(seerchKey.value)">
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-theme btn-md" (click)="tableSearch(seerchKey.value)">search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
            <tr>
              <th>№</th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('name')">
                  Название перевозчика
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('phone')">
                  Телефон
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('email')">
                  Электронная почта
                </a>
              </th>
              <th>
                Тип перевозчика
              </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agent of agentsList.listdata; let i = index">
                <td>{{(i + agentsList['pagination']['pagesize'] * agentsList['pagination']['page']) + 1}}</td>
                <td>
                  <a [routerLink]="['/cabinet/agents/show', agent.id]">
                    {{agent.name}}
                  </a>
                </td>
                <td>{{agent.phone}}</td>
                <td>{{agent.email}}</td>
                <td class="pre">{{agent.typesFormated}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [page]="page" [paginationData]="agentsList['pagination']" (pageChange)="tablePage($event)"></app-pagination>
        <!--                            <div class="clearfix"></div>-->
      </div>
    </div>
  </div>
</div>
