<button  *ngIf="typePage.show != modeCrud" type="button" class="btn btn-theme btn-lg" (click)="file.click()" #upload>Добавить файл</button>

<input type="file" class="form-control hidden" multiple  #file (change)="fileChange($event)">

<ul class="download-file-list" *ngIf="fileArray?.length > 0">
  <li class="download-file-list__item" *ngFor="let file of fileArray">
    <span class="download-file-list__item__name">
      <a *ngIf="file['path']" href="/storage{{file['path']}}" download>{{ file['name'] }}</a>
      <ng-container *ngIf="!file['path']">
        {{ file['name'] }}
      </ng-container>
    </span>
    <span *ngIf="typePage.show != modeCrud" class="download-file-list__item__delete" (click)="deleteFile(file)">
        <i class="fa fa-times"></i>
    </span>
  </li>
</ul>
