<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
              <h4>Перевозчик</h4>
              <div class="text-right">
                  <button type="button" class="btn btn-primary btn-lg" (click)="sendAgainRequest()">Повторно отправить запрос</button>
              </div>
                <form class="form-horizontal" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Тип перевозчика</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b"  formControlName="transporter_type">
                                          <ng-container *ngIf="( queriesPrice.data['transportersTypeNames'] | json) != '{}' ">
                                            <option *ngFor="let item of queriesPrice.data['transportersTypeNames'] | keys; let i = index" value="{{item.key}}">
                                              {{ item.value }}</option>
                                          </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Курьер</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b"  formControlName="transporter_id">
                                          <ng-container *ngIf="( queriesPrice.data['transportersList'] | json) != '{}' ">
                                            <option *ngFor="let item of queriesPrice.data['transportersList'] | keys; let i = index" value="{{item.key}}">
                                              {{ item.value }}</option>
                                          </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Направление</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b"  formControlName="transporter_direction_id">
                                          <ng-container *ngIf="( queriesPrice.data['directionsList'] | json) != '{}' ">
                                            <option *ngFor="let item of queriesPrice.data['directionsList'] | keys; let i = index" value="{{item.key}}">
                                              {{ item.value }}</option>
                                          </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Имя</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="transporter_direction_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Телефон</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="transporter_direction_phone">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Email</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="transporter_direction_email">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Ответственное лицо</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="transporter_direction_resperson">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Откуда</h4>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Страна</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="country_from">
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Город</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="city_from">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Район/Штат</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="region_from">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Индекс</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="zip_code_from">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Тип услуги</label>
                                    <div class="col-sm-8">
                                      <select class="form-control m-b" formControlName="type">
                                        <ng-container *ngIf="( queriesPrice.data['typeNames'] | json) != '{}' ">
                                          <option *ngFor="let item of queriesPrice.data['typeNames'] | keys; let i = index" value="{{item.key}}">
                                            {{ item.value }}</option>
                                        </ng-container>
                                      </select>
                                    </div>
                                </div>
                                <app-insurance-form-elem [form]="form" [formData]="queriesPrice.data" [formDisabled]="true"></app-insurance-form-elem>

                              <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Необходима ли страховка</label>-->
                                    <!--<div class="col-sm-8">-->
                                      <!--<select class="form-control m-b" name="insurance" formControlName="insurance">-->
                                        <!--<option value="0">Нет</option>-->
                                        <!--<option value="1" >Да</option>-->
                                      <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                  <!--<label class="col-sm-4 control-label">Стоимость страховки</label>-->
                                  <!--<div class="col-sm-4">-->
                                    <!--<input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="insurance_price">-->
                                  <!--</div>-->
                                  <!--<div class="col-sm-4">-->
                                    <!--<input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="insurance_currency">-->
                                  <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Цена</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="items_price">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Куда</h4>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Страна</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="country_to">
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Город</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="city_to">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Район/Штат</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="region_to">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Индекс</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="zip_code_to">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Описание</h4>
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Количетсво мест</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" formControlName="items_count">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Общий вес</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="items_totalweight">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <app-parcel-form-params
                        [form]="form"
                        [formData]="queriesPrice.data"
                        [formDisabled]="true"
                      ></app-parcel-form-params>

                      <!--<fieldset formGroupName="itemsParams">-->
                        <!--<table class="table">-->
                          <!--<thead>-->
                          <!--<tr>-->
                            <!--<th>-->
                              <!--Описани-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Документ или посылка-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Тип отправления-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Количество-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Вес-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Длина-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Шырина-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Высота-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Цена-->
                            <!--</th>-->
                            <!--<th>-->
                              <!--Валюта-->
                            <!--</th>-->
                          <!--</tr>-->
                          <!--</thead>-->
                          <!--<tbody>-->
                          <!--<tr *ngFor="let item of [1 ,2, 3, 4]; let i = index">-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="client_comment_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<select class="form-control" formControlName="items_type_{{i+1}}">-->
                                <!--<ng-container *ngIf="( queriesPrice.data['itemstypeNames'] | json) != '{}' ">-->
                                  <!--<option *ngFor="let item of queriesPrice.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                    <!--{{ item.value }}</option>-->
                                <!--</ng-container>-->
                              <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<select class="form-control" formControlName="delivery_type_{{i+1}}">-->
                                <!--<ng-container *ngIf="( queriesPrice.data['deliverytypeNames'] | json) != '{}' ">-->
                                  <!--<option *ngFor="let item of queriesPrice.data['deliverytypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                    <!--{{ item.value }}</option>-->
                                <!--</ng-container>-->
                              <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_count_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_weight_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_length_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_width_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_height_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_{{i+1}}">-->
                            <!--</td>-->
                            <!--<td>-->
                              <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_currency_{{i+1}}">-->
                            <!--</td>-->
                          <!--</tr>-->
                          <!--</tbody>-->
                        <!--</table>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 1</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="item1_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 1, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" name="size1_1" placeholder="" formControlName="item1_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size1_2" placeholder="" formControlName="item1_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size1_3" placeholder="" formControlName="item1_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 2</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight2" placeholder="" formControlName="item2_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 2, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" name="size2_1" placeholder="" formControlName="item2_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size2_2" placeholder="" formControlName="item2_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size2_3" placeholder="" formControlName="item2_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 3</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight3" placeholder="" formControlName="item3_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 3, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" formControlName="item3_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" formControlName="item3_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" formControlName="item3_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="group">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Вес 4</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="weight4" placeholder="" formControlName="item4_w">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label">Размер 4, см</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control input-col-4" name="size4_1" placeholder="" formControlName="item4_s1">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size4_2" placeholder="" formControlName="item4_s2">-->
                        <!--/-->
                        <!--<input type="text" class="form-control input-col-4" name="size4_3" placeholder="" formControlName="item4_s3">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                      <!--</fieldset>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Документы или поссылка</label>-->
                                    <!--<div class="col-sm-8">-->
                                      <!--<select class="form-control m-b" formControlName="items_type">-->
                                        <!--<ng-container *ngIf="( queriesPrice.data['itemstypeNames'] | json) != '{}' ">-->
                                          <!--<option *ngFor="let item of queriesPrice.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                                            <!--{{ item.value }}</option>-->
                                        <!--</ng-container>-->
                                      <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Тариф</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="delivery_price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Описание</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" formControlName="client_comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">Файл</label>
                                  <div class="col-sm-5">
                                    <app-form-file-upload
                                      [form]="form"
                                      [inputName]="'filesUpload'"
                                      [files]="queriesPrice?.data?.filesList"
                                      [modeCrud]="typePage">
                                      ></app-form-file-upload>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <!--<button class="btn btn-theme btn-lg">Отправить</button>-->
                            <!--<button class="btn btn-theme btn-lg">Загрузить</button>-->
                            <a routerLink="/cabinet/queries-price" class="btn btn-white btn-lg">Назад</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
