<div class="topbar-left">
    <div class="text-center">
        <a routerLink="/cabinet/dashboard" class="logo">
          <!--<img src="/assets/img/logo.png" alt="log">-->
          Dkl crm
        </a>
    </div>
</div>
<div class="pull-left menu-toggle" (click)="toggleMainMenu()">
    <i class="fa fa-bars"></i>
</div>
<ul class="nav navbar-nav  top-right-nav hidden-xs">
    <li class="dropdown profile-link hidden-xs">
        <div class="clearfix" [ngClass]="{'open': openProfileMenu}">
            <a href="#" (click)="toggleProfileMenu($event)">
                <!--<img src="/assets/img/user.png" alt="user" class="pull-left">-->
                <span *ngIf="user">{{user.fullname}}
                    <br>
                    <em>{{user.role}}</em>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a routerLink="/cabinet/profile">Настройки</a>
                </li>
                <li>
                    <a routerLink="/login" (click)="logout()">Выход</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
