<div [formGroup]="form">
  <fieldset formGroupName="{{dataForm.key}}">
    <div class="header-dynamic-form">
      <h4>Направление: {{directionName.value}}</h4>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Направление</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="name" #directionName>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Тип услуг</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="{{countTypeService}}" formControlName="typeParams"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Ответственное лицо</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="responsible_person">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Электронная почта</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Телефон</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="phone">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Комментарий</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="3" formControlName="comment"></textarea>
      </div>
    </div>
  </fieldset>
</div>
