<ng-container *ngIf="ordersList?.listdata.length > 0 || showTable">
  <div class="page-title">
    <h3>{{title}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-box">
        <div class="row">
          <div class="col-sm-8">
            <app-search-table
              (searchData)="getSearchData($event)"
              [anotherFilterData]="ordersList['listinvoices']"
              [anotherFilterDataSecond]="ordersList['liststatuses']"
            ></app-search-table>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
            <tr>
              <!--<th>&nbsp;</th>-->
              <th>
                <a href="javascript:void(0);" (click)="tableSort('code_dkl')">
                  DKL № Накладной
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('code_transporter')">
                  Агент № Накладной
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('transporter_name')">
                  Имя агента
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('created_at')">
                  Дата создания заказа
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('status')">
                  Статус заказа
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('name')">
                  Отправитель
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('email')">
                  E-mail
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('phone')">
                  Номер телефона
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('type')">
                  Тип услуги
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('delivery_price')">
                  Тариф
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('invoice_status')">
                  Статус счета
                </a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orders of ordersList?.listdata">
              <!--<td>-->
                <!--<input [checked]="isChecked" (click)="check(orders.id)" type="checkbox">-->
              <!--</td>-->
              <td>
                <a [routerLink]="['/cabinet/orders/show', orders.id]">
                  {{orders.code_dkl}}
                </a>
              </td>
              <td>{{orders.code_transporter}}</td>
              <td>{{orders.transporter_name}}</td>
              <td>{{orders.created_at * 1000 | date: 'd.MM.y H:mm'}}</td>
              <td>{{orders.statusName}}</td>
              <td>
                <a [routerLink]="['/cabinet/customers-users/show', 15]">
                  {{orders.name}}
                </a>
              </td>
              <td>{{orders.email}}</td>
              <td>{{orders.phone}}</td>
              <td>{{orders.typeName}}</td>
              <td>{{orders.delivery_price}}</td>
              <td>{{orders.invoiceStatusName}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <app-pagination [page]="page" [paginationData]="ordersList?.pagination" (pageChange)="tablePage($event)"></app-pagination>

      </div>
    </div>
  </div>
</ng-container>
