<div class="panel-box">
  <div class="">
    <!--<table class="table text-center">-->
      <!--<thead>-->
        <!--<tr>-->
          <!--<th>Страна</th>-->
          <!--<th>Зона</th>-->
        <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
        <!--<tr>-->
          <!--<td>Америка</td>-->
          <!--<td>1</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Америка</td>-->
          <!--<td>2</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Америка</td>-->
          <!--<td>3</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Америка</td>-->
          <!--<td>4</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Америка</td>-->
          <!--<td>5</td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <div *ngFor="let singleZone of zones | keys">
      <div>{{singleZone.key | uppercase}}</div>
      <div *ngFor="let item of singleZone.value" class="row">
        <div class="col-md-6">{{item.title}}</div>
        <div class="col-md-6">{{item.level}}</div>
      </div>
    </div>
  </div>
</div>
