<table class="table text-center">
  <caption>История заказа</caption>
  <thead>
    <tr>
      <th>
        Автор
      </th>
      <th>
        Сообщение
      </th>
      <th>
        Дата
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of history; let i = index">
      <td>{{item.autor}}</td>
      <td [innerHTML]="item.message"></td>
      <td>{{item.date}}</td>
      <!--<td>{{queries.created_at * 1000 | date: 'd.MM.y'}}</td>-->
    </tr>
  </tbody>
</table>
