<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th colspan="2" class="text-center">МЕНЕДЖЕРЫ</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let manager of managersListData | keys">
                <td class="text-orange">
                    <!--<a routerLink="/cabinet/taskman">-->
                        {{manager.value.name}}
                    <!--</a>-->
                </td>
                <td>
                  <span class="mp-manager-tasks__overdue">Просроченных задач {{manager.value.overtime}}</span>
                  <ul class="task-list" *ngFor="let task of manager.value.tasks | keys">
                    <li>{{task.value.title}}</li>
                  </ul>
                </td>
                <!--</td>  -->
                    <!--<div class="mp-manager-tasks">-->
                        <!--<span class="mp-manager-tasks__all">Задача {{manager.value.overtime}}</span>-->
                        <!--<span class="mp-manager-tasks__overdue">Просроченных задач {{manager.value.overtime}}</span>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<a routerLink="/cabinet/taskman">-->
                        <!--<i class="fa fa-arrow-right" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</td>-->

            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <a routerLink="/cabinet/taskman" class="btn btn-border-theme btn-lg">Перейти к “таск-трекеру”</a>
</div>
