<div class="container">
  <div class="page-title">
    <h3>{{title}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-box">
        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <h4>Основная информаци:</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Название перевозчика</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Тип услуг</label>
                  <div class="col-sm-8">
                    <app-multi-select [form]="form" [dataName]="'typeParams'" [dataValue]="transportation.data['typeParams']" [data]="transportation.data['typeNames']"></app-multi-select>
                    <!--<app-select  [form]="form" [dataName]="'type'" [dataValue]="transportation.data['typeParams']" [data]="transportation.data['typeNames']"> </app-select>-->
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Ответственное лицо</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="responsible_person">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Электронная почта</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" name="email" placeholder="" formControlName="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Телефон</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [textMask]="{mask: maskPhone, guide: true}" name="phone" placeholder="" formControlName="phone">
                  </div>
                </div>
              </div>
              <div class="group">

                <ng-container *ngFor="let dataForm of dynamicFormElem; let i = index">
                  <ng-container *ngIf="dataForm">
                    <app-transportation-form-element-component (deleteElem)="deleteDynamicElem($event)" [counter]="i+1" [form]="form" [dataForm]="dataForm"></app-transportation-form-element-component>
                  </ng-container>
                </ng-container>

                <div class="form-group text-center">
                  <a class="btn btn-theme btn-lg" (click)="getInfoModal(modalContentAddDirection)">Добавить направление</a>
                  <a routerLink="/cabinet/transportations" class="btn btn-white btn-lg">Назад</a>
                  <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- start modal add-direction -->
<ng-template #modalContentAddDirection let-d="close">
  <div class="modal-header">
    <button type="button" class="close" (click)="d('Cross click')">×</button>
    <h4 class="modal-title">Добавить направление</h4>
  </div>
  <form class="form-horizontal" [formGroup]="fromModal" (ngSubmit)="onSubmitModal(fromModal)">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label class="col-sm-5 control-label">Название направления</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Тип услуг</label>
            <div class="col-sm-7">
              <app-multi-select theme="light" [form]="fromModal" [dataName]="'typeParams'" [dataValue]="transportationModal.data['typeParams']" [data]="transportationModal.data['typeNames']"></app-multi-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Ответственное лицо</label>
            <div class="col-sm-7">
              <input type="text" value="test" class="form-control" formControlName="responsible_person">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Электронная почта</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" formControlName="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Телефон</label>
            <div class="col-sm-7">
              <input type="text" [textMask]="{mask: maskPhone, guide: true}" class="form-control" formControlName="phone">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Комментарий</label>
            <div class="col-sm-7">
              <textarea class="form-control" rows="3" formControlName="comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-theme btn-lg">Добавить</button>
    </div>
  </form>
</ng-template>
<!-- end modal add-direction -->
