<!--<ng-datepicker-->
        <!--[options]="options"-->
        <!--(ngModelChange)="onChangeDate($event)"-->
        <!--[(ngModel)]="date"-->
        <!--[ngModelOptions]="{standalone: true}">-->
<!--</ng-datepicker>-->
<ng-container  *ngIf="!form; else withForm">
  <input class="form-control"
         (ngModelChange)="onChangeDate($event)"
         [(ngModel)]="date"
         [owlDateTimeTrigger]="dt10"
         [owlDateTime]="dt10"
         [selectMode]="datepikerMode"
         [placeholder]="placeholder"
  >
  <owl-date-time
          #dt10
          [pickerType]="'calendar'"
          [firstDayOfWeek]="'1'"
      >
  </owl-date-time>
</ng-container>

<ng-template  #withForm>
  <form [formGroup]="form" class="form-horizontal">
    <!--<input type="text" class="hidden" [formControlName]="formElemName">-->
    <input
      class="form-control"
      [(ngModel)]="date"
      [owlDateTimeTrigger]="dt10"
      [owlDateTime]="dt10"
      [selectMode]="datepikerMode"
      [placeholder]="placeholder"
      [formControlName]="formElemName"
      [min]="minDateForTimePiker"
    >
    <owl-date-time
      #dt10
      [pickerType]="'calendar'"
      [firstDayOfWeek]="'1'"
    >
    </owl-date-time>
  </form>
</ng-template>
