<div class="container">
  <div class="page-title">
    <h3>{{title}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-box">
        <div class="row">
          <div class="col-sm-10">
            <app-search-table
              (searchData)="getSearchData($event)"
              [anotherFilterData]="users"
              [anotherFilterPlaceholder]="'Все'"
              [anotherFilterDataSecond]="status"
              [anotherFilterPlaceholderSecond]="'Все'"
              [searchInput]="'№ Накладной DKL, № Накладной агента'"
            ></app-search-table>
          </div>
          <div class="col-sm-2 text-right">
            <a routerLink="./create" class="btn btn-white btn-md">Добавить заказ</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
            <tr>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('code_dkl')">
                  DKL № Накладной
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('code_transporter')">
                  Агент № Накладной
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('transporter_name')">
                  Имя агента
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('created_at')">
                  Дата создания заказа
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('status')">
                  Статус заказа
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('name')">
                  Отправитель
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('email')">
                  E-mail
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('phone')">
                  Номер телефона
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('city_from')">
                  Город/Страна Отправления
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('city_to')">
                  Город/Страна Назначения
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('type')">
                  Тип услуги
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('delivery_price')">
                  Тариф
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('invoice_status')">
                  Статус счета
                </a>
              </th>
              <th>
                <a href="javascript:void(0);" (click)="tableSort('user_id')">
                  Менеджер
                </a>
              </th>
              <th>
                Скачать накладную
              </th>
              <th>
                Прикрепленные файлы
              </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orders of ordersList['listdata'];">
                <td>
                  <a [routerLink]="['show', orders.id]">
                    {{orders.code_dkl}}
                  </a>
                </td>
                <td>{{orders.code_transporter}}</td>
                <td>{{orders.transporter_name}}</td>
                <td>{{orders.created_at * 1000 | date: 'd.MM.y H:mm'}}</td>
                <td>{{orders.statusName}}</td>
                <td>
                  <a [routerLink]="['/cabinet/customers-users/show', orders.client_id]">
                    {{orders.name}}
                  </a>
                </td>
                <td>{{orders.email}}</td>
                <td>{{orders.phone}}</td>
                <td>{{orders.countryCityFrom}}</td>
                <td>{{orders.countryCityTo}}</td>
                <td>{{orders.typeName}}</td>
                <td>{{orders.delivery_price}}</td>
                <td>{{orders.invoiceStatusName}}</td>
                <td>{{orders.managerName}}</td>
                <td>
                  <a target="_blank" href="{{orders.invoicelink}}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td [innerHtml]="orders.filesFormated">
                  <!--<a href="/">-->
                    <!--test.doc-->
                  <!--</a>-->
                  <!--<a href="/">-->
                    <!--test.doc-->
                  <!--</a>-->
                  <!--<a href="/">-->
                    <!--test.doc-->
                  <!--</a>-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <app-pagination [page]="page" [paginationData]="ordersList['pagination']" (pageChange)="tablePage($event)"></app-pagination>

      </div>
    </div>
  </div>
</div>

