<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <form method="get" class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Логин</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="username" formControlName="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Фамилия</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="lastname" formControlName="lastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Имя</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="firstname" formControlName="firstname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Электронная почта</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control" name="email" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Номер телефона</label>

                        <div class="col-sm-5">
                            <input type="text" [textMask]="{mask: maskPhone, guide: true}" class="form-control" name="phone" formControlName="phone">
                        </div>
                    </div>
                    <app-autocomplete-city
                      [form]="form"
                      [fromData]="autocompleteCityFormComponent"
                      [controlLabelColClass]="'col-sm-3'"
                      [formControlColClass]="'col-sm-5'">
                    </app-autocomplete-city>
                  <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label">Город</label>-->
                    <!--<div class="col-sm-5">-->
                      <!--&lt;!&ndash;<input type="text"  class="form-control" name="city" placeholder="" formControlName="city">&ndash;&gt;-->
                      <!--<ng-select [items]="local_from"-->
                                 <!--[multiple]="false"-->
                                 <!--[closeOnSelect]="true"-->
                                 <!--[hideSelected]="false"-->
                                 <!--bindLabel="fullname"-->
                                 <!--bindValue="fullname"-->
                                 <!--class="form-control"-->
                                 <!--formControlName="city"-->
                                 <!--(input)="onGetLocationFrom($event)"-->
                                 <!--(change)="onSelectLocationFrom($event)"-->
                      <!--&gt;-->
                      <!--</ng-select>-->
                    <!--</div>-->
                  <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Страна</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text"  class="form-control" name="country" placeholder="" formControlName="country">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Район/Штат</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text"  class="form-control" name="region" placeholder="" formControlName="region">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Адрес</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text"  class="form-control" name="address" placeholder="" formControlName="address">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">Индекс</label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="text"  class="form-control" name="zip_code" placeholder="" formControlName="zip_code">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Роль</label>
                        <div class="col-sm-5">

                                <app-select [form]="form" [dataName]="'type'" [dataValue]="user.data['type']" [data]="user.data['typeNames']" > </app-select>
                            <!--<select class="form-control m-b" name="type" formControlName="type">-->
                                <!--<ng-container *ngIf="( user.data['typeNames'] | json) != '{}' ">-->
                                    <!--<option *ngFor="let item of user.data['typeNames'] | keys; let i = index" value="{{item.key}}">-->
                                        <!--{{ item.value }}-->
                                    <!--</option>-->
                                <!--</ng-container>-->
                            <!--</select>-->
                            </div>

                        </div>
                        <div class="text-right form-group">
                            <div class="col-md-8">
                                <a routerLink="/cabinet/admin-users" class="btn btn-white btn-lg">Назад</a>
                                <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
