<div class="container">
  <div class="page-title">
    <h3>{{title}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-box">
        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <h4>Информация:</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Статус заказа</label>
                  <div class="col-sm-8">
                    <select class="form-control m-b" formControlName="status">
                      <ng-container *ngIf="( order.data['statusNames'] | json) != '{}' ">
                        <option *ngFor="let item of order.data['statusNames'] | keys; let i = index" value="{{item.key}}">
                          {{ item.value }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Номер накладной DKL</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="code_dkl">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Номер накладной Агента</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="code_transporter">
                  </div>
                </div>
                <app-form-autocomplete [form]="form" [formName]="fromNames"></app-form-autocomplete>
              </div>
              <div class="group">
                <h4>Счет</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Номер счета</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="invoice_number">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Дата счета</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="invoice_date">-->
                    <app-datepicker
                      [form]="form"
                      formElemName="invoice_date"
                      datepikerMode="single"
                      [formElemValue]="order.data.invoice_date"
                      placeholder="Дата не выбрана"
                    ></app-datepicker>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Статус счета</label>
                  <div class="col-sm-8">
                    <select class="form-control m-b" formControlName="invoice_status">
                      <ng-container *ngIf="( order.data['invoiceStatusNames'] | json) != '{}' ">
                        <option *ngFor="let item of order.data['invoiceStatusNames'] | keys; let i = index" value="{{item.key}}">
                          {{ item.value }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Счет учета</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="invoice_account">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Счет ндс</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="invoice_nds">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Выплаты агентам</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="pay_to_agents">
                  </div>
                </div>
                <!--<div class="text-right">-->
                  <!--<button type="button" class="btn btn-theme btn-lg" (click)="sendAgain()" [disabled]="form.get('status').value === '1_COURIER_REQUEST'">Отправить напоминание</button>-->
                <!--</div>-->
              </div>
            </div>
            <div class="col-md-6">
              <div class="group">
                <h4>Выбрать курьера:</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Выбрать курьера</label>
                  <div class="col-sm-8">
                    <select class="form-control m-b" formControlName="courier_id">
                      <ng-container *ngIf="( order.data['courierList'] | json) != '{}' ">
                        <option *ngFor="let item of order.data['courierList'] | keys; let i = index" value="{{item.key}}">
                          {{ item.value }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
              <div class="group">
                <h4>Склад</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Дата доставки на склад</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="stock_date_come">-->
                    <app-datepicker
                      [form]="form"
                      formElemName="stock_date_come"
                      datepikerMode="single"
                      [formElemValue]="order.data.stock_date_come"
                      placeholder="Дата не выбрана"
                    ></app-datepicker>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Способ отправки</label>
                  <div class="col-sm-8">
                    <select class="form-control m-b" formControlName="stock_delivery_type">
                      <ng-container *ngIf="( order.data['stockDeliveryTypeNames'] | json) != '{}' ">
                        <option *ngFor="let item of order.data['stockDeliveryTypeNames'] | keys; let i = index" value="{{item.key}}">
                          {{ item.value }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Дата отправки</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="stock_date_send">-->
                    <app-datepicker
                      [form]="form"
                      formElemName="stock_date_send"
                      datepikerMode="single"
                      [formElemValue]="order.data.stock_date_send"
                      placeholder="Дата не выбрана"
                    ></app-datepicker>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Комментарий</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="3" formControlName="user_comment"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Дата доставки</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="stock_date_delivery">-->
                    <app-datepicker
                      [form]="form"
                      formElemName="stock_date_delivery"
                      datepikerMode="single"
                      [formElemValue]="order.data.stock_date_delivery"
                      placeholder="Дата не выбрана"
                    ></app-datepicker>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Время доставки</label>
                  <div class="col-sm-8">
                    <input type="text" [textMask]="{mask: maskTime, guide: true}" class="form-control" name="" placeholder="" formControlName="stock_delivery_time">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Фамилия расписавшегося</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="stock_person">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Комментарий</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="3" formControlName="stock_person_comment"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <h4>Информация об отправителя:</h4>
                <div class="group">

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Имя, фамилия отправителя</label>
                    <div class="col-sm-8">
                      <!--<input type="text" class="form-control hidden" formControlName="name">-->
                      <ng-select [items]="userInfo_from"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [hideSelected]="false"
                                 [addTag]="true"
                                 bindLabel="fio"
                                 bindValue="fio"
                                 class="form-control"
                                 formControlName="name"
                                 (input)="onGetUserInfoFrom($event)"
                                 (change)="onSelectUserInfoFrom($event)"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Название фирмы отправителя</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="senderCompany" placeholder="" formControlName="company">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Адрес электронной почты отправителя</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" name="" placeholder="" formControlName="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Телефонный номер отправителя</label>
                    <div class="col-sm-8">
                      <input type="text"  class="form-control" [textMask]="{mask: maskPhone, guide: true}" name="" placeholder="" formControlName="phone">
                    </div>
                  </div>
                </div>
                <app-autocomplete-city [form]="form" [fromData]="autocompleteCityFromFormComponent"></app-autocomplete-city>
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Город отправителя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<ng-select [items]="local_from"-->
                               <!--[multiple]="false"-->
                               <!--[closeOnSelect]="true"-->
                               <!--[hideSelected]="false"-->
                               <!--bindLabel="fullname"-->
                               <!--bindValue="fullname"-->
                               <!--class="form-control"-->
                               <!--formControlName="city_from"-->
                               <!--(input)="onGetLocationFrom($event)"-->
                               <!--(change)="onSelectLocationFrom($event)"-->
                    <!--&gt;-->
                    <!--</ng-select>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Страна отправителя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control" name="" placeholder=""  formControlName="country_from">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Район/Штат отправителя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="region_from">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Индекс отправителя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control" name="senderZipCode" placeholder="" formControlName="zip_code_from">-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
            <div class="col-md-6">
              <div class="group">
                <h4>Информация об получателя:</h4>

                <div class="group">

                  <div class="form-group">
                    <label class="col-sm-4 control-label" >Имя, фамилия получателя</label>
                    <div class="col-sm-8">
                      <!--<input type="text" class="form-control hidden" formControlName="name_receiver">-->
                      <ng-select [items]="userInfo_to"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [hideSelected]="false"
                                 [addTag]="true"
                                 bindLabel="fio"
                                 bindValue="fio"
                                 class="form-control"
                                 formControlName="name_receiver"
                                 (input)="onGetUserInfoTo($event)"
                                 (change)="onSelectUserInfoTo($event)"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label" >Название фирмы получателя</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="" placeholder="" formControlName="company_receiver">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label" >Адрес электронной почты получателя</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" name="" placeholder="" formControlName="email_receiver">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label" >Телефонный номер получателя</label>
                    <div class="col-sm-8">
                      <input type="text"  class="form-control" [textMask]="{mask: maskPhone, guide: true}" name="" placeholder="" formControlName="phone_receiver">
                    </div>
                  </div>
                </div>
                <app-autocomplete-city [form]="form" [fromData]="autocompleteCityToFormComponent"></app-autocomplete-city>
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Город получателя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<ng-select [items]="local_to"-->
                               <!--[multiple]="false"-->
                               <!--[closeOnSelect]="true"-->
                               <!--[hideSelected]="false"-->
                               <!--bindLabel="fullname"-->
                               <!--bindValue="fullname"-->
                               <!--class="form-control"-->
                               <!--formControlName="city_to"-->
                               <!--(input)="onGetLocationTo($event)"-->
                               <!--(change)="onSelectLocationTo($event)"-->
                    <!--&gt;-->
                    <!--</ng-select>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Страна получателя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="country_to" >-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Район/Штат получателя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="region_to">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Индекс получателя</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="zip_code_to" >-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Информация о доставке:</h4>

              <div class="form-group">
                <label class="col-sm-4 control-label">Тип услуги</label>
                <div class="col-sm-8">
                  <select class="form-control m-b" formControlName="type">
                    <ng-container *ngIf="( order.data['typeNames'] | json) != '{}' ">
                      <option *ngFor="let item of order.data['typeNames'] | keys; let i = index" value="{{item.key}}">
                        {{ item.value }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <app-insurance-form-elem [form]="form" [formData]="order.data"></app-insurance-form-elem>
              <!--<div class="form-group">-->
                <!--<label class="col-sm-4 control-label">Необходима ли страховка</label>-->
                <!--<div class="col-sm-8">-->
                  <!--<select class="form-control m-b" name="insurance" formControlName="insurance">-->
                    <!--<option value="0">Нет</option>-->
                    <!--<option value="1" >Да</option>-->
                  <!--</select>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label class="col-sm-4 control-label">Стоимость страховки</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="insurance_price">-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="insurance_currency">-->
                <!--</div>-->
              <!--</div>-->



              <div class="form-group">
                <label class="col-sm-4 control-label">Причина Экспорта</label>
                <div class="col-sm-8">
                  <select class="form-control m-b" formControlName="export_cause">
                    <ng-container *ngIf="( order.data['exportcauseNames'] | json) != '{}' ">
                      <option *ngFor="let item of order.data['exportcauseNames'] | keys; let i = index" value="{{item.key}}">
                        {{ item.value }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">Условия Экпорта</label>
                <div class="col-sm-8">
                  <select class="form-control m-b" formControlName="export_terms">
                    <ng-container *ngIf="( order.data['exporttermsNames'] | json) != '{}' ">
                      <option *ngFor="let item of order.data['exporttermsNames'] | keys; let i = index" value="{{item.key}}">
                        {{ item.value }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">Тип оплаты</label>
                <div class="col-sm-8">
                  <select class="form-control m-b" formControlName="stock_pay_type">
                    <ng-container *ngIf="( order.data['stockPayTypeNames'] | json) != '{}' ">
                      <option *ngFor="let item of order.data['stockPayTypeNames'] | keys; let i = index" value="{{item.key}}">
                        {{ item.value }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Кто оплачивает</label>
                  <div class="col-sm-8">
                    <select class="form-control m-b" formControlName="stock_pay">
                      <ng-container *ngIf="( order.data['stockPayNames'] | json) != '{}' ">
                        <option *ngFor="let item of order.data['stockPayNames'] | keys; let i = index" value="{{item.key}}">
                          {{ item.value }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Оплата по факту доставки</label>
                  <div class="col-sm-8">
                    <select class="form-control m-b" formControlName="stock_delivery_fact_pay">
                      <ng-container *ngIf="( order.data['stockdeliveryfactpayNames'] | json) != '{}' ">
                        <option *ngFor="let item of order.data['stockdeliveryfactpayNames'] | keys; let i = index" value="{{item.key}}">
                          {{ item.value }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Сумма платежа</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="stock_price" >
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="stock_price_currency" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Комментарий, спец.инструкции</label>
                  <div class="col-sm-8">
                    <textarea type="text" class="form-control" name="" placeholder="" formControlName="stock_comment" ></textarea>
                  </div>
                </div>

                <h4>Время и день когда курьер может забрать отправление</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label" >Дата</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" name="" placeholder="" formControlName="pickup_date" >-->
                    <app-datepicker
                      [form]="form"
                      formElemName="pickup_date"
                      datepikerMode="single"
                      [formElemValue]="order.data.pickup_date"
                      placeholder="Дата не выбрана"
                    ></app-datepicker>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" >Время</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" [textMask]="{mask: maskTime, guide: true}" name="" placeholder="Начиная с" formControlName="pickup_timefrom" >
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" [textMask]="{mask: maskTime, guide: true}" name="" placeholder="Заканчивая до" formControlName="pickup_timeto" >
                  </div>
                </div>

              </div>
              <div class="col-md-6" *ngIf="isWhoPay">
                <h4>Данные плательщика 3-тья сторона</h4>
                <div class="form-group">
                  <label class="col-sm-4 control-label" >Имя, фамилия 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="thirdName" placeholder="" formControlName="thirdside_name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" >Название фирмы 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="thirdCompany" placeholder="" formControlName="thirdside_company" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Электронная почта 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" name="thirdEmail" placeholder="" formControlName="thirdside_email" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" id="query_col_4">Телефонный номер 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="text"  class="form-control" [textMask]="{mask: maskPhone, guide: true}" name="thirdPhone" placeholder="" formControlName="thirdside_phone" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Город 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="thirdCountry" placeholder="" formControlName="thirdside_city" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Страна 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="thirdCity" placeholder="" formControlName="thirdside_country" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Район/Штат 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="thirdState" placeholder="" formControlName="thirdside_region" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Индекс 3-й стороны</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="thirdZipIndex" placeholder="" formControlName="thirdside_zip_code" >
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <h4>Элементы отправления :</h4>

                <div class="form-group">
                  <label class="col-sm-4 control-label">Наименование, описание</label>
                  <div class="col-sm-8">
                    <textarea type="text" class="form-control" name="" placeholder="" formControlName="client_comment"></textarea>
                  </div>
                </div>

                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Количетсво</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control" name="" placeholder=""  formControlName="items_count">-->
                  <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                  <label class="col-sm-4 control-label">Расчетный вес</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="" placeholder="" formControlName="items_totalweight" >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <app-parcel-form-params [form]="form" [formData]="order.data" [calcFormControlName]="'items_totalweight'" [typeFormControlName]="'type'"></app-parcel-form-params>
            <!--<fieldset formGroupName="itemsParams">-->
              <!--<table class="table">-->
                <!--<thead>-->
                <!--<tr>-->
                  <!--<th>-->
                    <!--Описани-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Документ или посылка-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Тип отправления-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Количество-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Вес-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Длина-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Шырина-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Высота-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Цена-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Валюта-->
                  <!--</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr *ngFor="let item of [1 ,2, 3, 4]; let i = index">-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="client_comment_{{i+1}}">-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<select class="form-control" formControlName="items_type_{{i+1}}">-->
                      <!--<ng-container *ngIf="( order.data['itemstypeNames'] | json) != '{}' ">-->
                        <!--<option *ngFor="let item of order.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                          <!--{{ item.value }}</option>-->
                      <!--</ng-container>-->
                    <!--</select>-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<select class="form-control" formControlName="delivery_type_{{i+1}}">-->
                      <!--<ng-container *ngIf="( order.data['deliverytypeNames'] | json) != '{}' ">-->
                        <!--<option *ngFor="let item of order.data['deliverytypeNames'] | keys; let i = index" value="{{item.key}}">-->
                          <!--{{ item.value }}</option>-->
                      <!--</ng-container>-->
                    <!--</select>-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_count_{{i+1}}">-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_weight_{{i+1}}">-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_length_{{i+1}}">-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_width_{{i+1}}">-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_height_{{i+1}}">-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_{{i+1}}">-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_currency_{{i+1}}">-->
                  <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
              <!--</table>-->


              <!--<div class="col-md-6">-->
                <!--<div class="group">-->
                  <!--<div class="form-group">-->
                    <!--<label class="col-sm-4 control-label">Вес 1</label>-->
                    <!--<div class="col-sm-8">-->
                      <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="item1_w">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Размер 1, см</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control input-col-4" name="size1_1" placeholder="" formControlName="item1_s1">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" name="size1_2" placeholder="" formControlName="item1_s2">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" name="size1_3" placeholder="" formControlName="item1_s3">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="group">-->
                  <!--<div class="form-group">-->
                    <!--<label class="col-sm-4 control-label">Вес 2</label>-->
                    <!--<div class="col-sm-8">-->
                      <!--<input type="text" class="form-control" name="weight2" placeholder="" formControlName="item2_w">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Размер 2, см</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control input-col-4" name="size2_1" placeholder="" formControlName="item2_s1">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" name="size2_2" placeholder="" formControlName="item2_s2">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" name="size2_3" placeholder="" formControlName="item2_s3">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="group">-->
                  <!--<div class="form-group">-->
                    <!--<label class="col-sm-4 control-label">Вес 3</label>-->
                    <!--<div class="col-sm-8">-->
                      <!--<input type="text" class="form-control" name="weight3" placeholder="" formControlName="item3_w">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Размер 3, см</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control input-col-4" formControlName="item3_s1">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" formControlName="item3_s2">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" formControlName="item3_s3">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="group">-->
                  <!--<div class="form-group">-->
                    <!--<label class="col-sm-4 control-label">Вес 4</label>-->
                    <!--<div class="col-sm-8">-->
                      <!--<input type="text" class="form-control" name="weight4" placeholder="" formControlName="item4_w">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Размер 4, см</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control input-col-4" name="size4_1" placeholder="" formControlName="item4_s1">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" name="size4_2" placeholder="" formControlName="item4_s2">-->
                    <!--/-->
                    <!--<input type="text" class="form-control input-col-4" name="size4_3" placeholder="" formControlName="item4_s3">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</fieldset>-->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="group">
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Документы или поссылка</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<select class="form-control m-b" formControlName="items_type">-->
                      <!--<ng-container *ngIf="( order.data['itemstypeNames'] | json) != '{}' ">-->
                        <!--<option *ngFor="let item of order.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                          <!--{{ item.value }}</option>-->
                      <!--</ng-container>-->
                    <!--</select>-->
                  <!--</div>-->
                <!--</div>-->
                <!--                             <div class="form-group">
                                                 <label class="col-sm-4 control-label">Описание от клиента</label>
                                                 <div class="col-sm-8">
                                                     <textarea class="form-control" rows="3" name="description" formControlName="description"></textarea>
                                                 </div>
                                             </div>-->
                <div class="form-group">
                  <label class="col-sm-4 control-label">Стоимость</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="items_price">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="items_price_currency" >
                  </div>
                </div>
                <!--<div class="form-group">-->
                  <!--<label class="col-sm-4 control-label">Тип отправления</label>-->
                  <!--<div class="col-sm-8">-->
                    <!--<select class="form-control m-b" formControlName="delivery_type">-->
                      <!--<ng-container *ngIf="( order.data['deliverytypeNames'] | json) != '{}' ">-->
                        <!--<option *ngFor="let item of order.data['deliverytypeNames'] | keys; let i = index" value="{{item.key}}">-->
                          <!--{{ item.value }}</option>-->
                      <!--</ng-container>-->
                    <!--</select>-->
                  <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                  <label class="col-sm-4 control-label">Стоимость доставки</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="delivery_price">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="delivery_price_currency">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label">Файл</label>
                  <div class="col-sm-8">
                    <app-form-file-upload
                      [form]="form"
                      [inputName]="'filesUpload'"
                      [files]="order?.data?.filesList"
                      deleteFilesName="deleteFiles">
                    ></app-form-file-upload>
                  </div>
                </div>
                <!--                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Файл</label>
                                                    <div class="col-sm-8">
                                                        <button type="button" class="btn btn-theme btn-lg" (click)="file.click()" #upload>Добавить файл</button>
                                                        &lt;!&ndash;<input type="file" class="form-control hidden" multiple name="file[]" #file (change)="uploadFile(file)">&ndash;&gt;
                                                        <input type="file" class="form-control hidden" multiple name="file[]" #file (change)="uploadFile($event)">
                                                        <ul class="download-file-list" *ngIf="filesToUpload?.length > 0">
                                                            <li class="download-file-list__item" *ngFor="let file of filesToUpload">
                                                                <span class="download-file-list__item__name">{{ file[0].name }}</span>
                                                                <span class="download-file-list__item__delete" (click)="deleteFile(file[0].name)">
                                                                    <i class="fa fa-times"></i>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-right form-group">
              <div class="col-md-6">
                <a routerLink="/cabinet/orders" class="btn btn-white btn-lg" type="submit">Назад</a>
                <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
              </div>
            </div>
            <!--<app-parcel-from-params [from]="form" [fromData]="order.data"></app-parcel-from-params>-->
          </div>
          <app-calculator
            [form]="form"
            [discount]="calcDiscount"
            [fuelMarkupPercentData]="order?.fuel_markup"
          ></app-calculator>
          <ng-container *ngIf="dataDirectionTable">
           <app-add-direction-table [directions]="dataDirectionTable" [showOnly]="true"></app-add-direction-table>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>
