<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <h4>Ценновой запрос</h4>
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Статус запроса</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="test" class="form-control" name="statusQuery" placeholder="" formControlName="statusQuery">
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <h4>Контакты:</h4>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Имя</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="name" placeholder="" formControlName="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Название фирмы отправителя</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="senderCompany" placeholder="" formControlName="senderCompany">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Электронная почта отправителя</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="senderEmail" placeholder="" formControlName="senderEmail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Телефон отправителя</label>
                                    <div class="col-sm-8">
                                        <input type="text" [textMask]="{mask: maskPhone, guide: true}" class="form-control" name="senderTel" placeholder="" formControlName="senderTel">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Информация об отправителя:</h4>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Город</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="senderCountry" placeholder="" formControlName="senderCountry">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Страна</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="senderCity" placeholder="" formControlName="senderCity">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Район/Штат</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="senderState" placeholder="" formControlName="senderState">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Индекс</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="senderZipCode" placeholder="" formControlName="senderZipCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Тип услуги</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" name="senderTypeService" placeholder="" formArrayName="senderTypeService">
                                            <option>Марина</option>
                                            <option>Марина</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Необходима ли страховка</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" name="senderInsurance" formControlName="senderInsurance">
                                            <option>Марина</option>
                                            <option>Марина</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Заявленная стоимость груза</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="senderPriceCargo" placeholder="" formControlName="senderPriceCargo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Информация об получателе:</h4>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Город</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="receiverCountry" placeholder="" formControlName="receiverCountry">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Страна</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="receiverCity" placeholder="" formControlName="receiverCity">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Район/Штат</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="receiverState" placeholder="" formControlName="receiverState">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Индекс</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="receiverZipIndex" placeholder="" formControlName="receiverZipIndex">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <h4>Описание:</h4>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Количетсво мест</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="countPlace" placeholder="" formControlName="countPlace">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Общий вес</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="totalWeight" placeholder="" formControlName="totalWeight">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Вес 1</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="weight1" placeholder="" formControlName="weight1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Размер 1, см</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-col-4" name="size1_1" placeholder="" formControlName="size1_1">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size1_2" placeholder="" formControlName="size1_2">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size1_3" placeholder="" formControlName="size1_3">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Вес 2</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="weight2" placeholder="" formControlName="weight2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Размер 2, см</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-col-4" name="size2_1" placeholder="" formControlName="size2_1">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size2_2" placeholder="" formControlName="size2_2">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size2_3" placeholder="" formControlName="size2_3">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Вес 3</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="weight3" placeholder="" formControlName="weight3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Размер 3, см</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-col-4" name="size3_1" placeholder="" formControlName="size3_1">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size3_2" placeholder="" formControlName="size3_2">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size3_3" placeholder="" formControlName="size3_3">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Вес 4</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="weight4" placeholder="" formControlName="weight4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Размер 4, см</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-col-4" name="size4_1" placeholder="" formControlName="size4_1">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size4_2" placeholder="" formControlName="size4_2">
                                    /
                                    <input type="text" class="form-control input-col-4" name="size4_3" placeholder="" formControlName="size4_3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Документы или поссылка</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" name="packageDocuments" formControlName="packageDocuments">
                                            <option>Марина</option>
                                            <option>Марина</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Описание от клиента</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" name="description" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Стоимость перевозки</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="transportationCost" placeholder="" formControlName="transportationCost">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Голая ставка</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="nakedRate" placeholder="" formControlName="nakedRate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Коментарий к ценову предложению</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" name="commentPriceOffer" formControlName="commentPriceOffer"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>Тариф</th>
                                <th>Скидка</th>
                                <th>% НСД</th>
                                <th>НДС</th>
                                <th>Топливная надбавка</th>
                                <th>Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>
                                    <input type="text" class="form-control" name="" placeholder="">
                                </th>
                                <th>5</th>
                                <th>
                                    <select class="form-control" name="">
                                        <option>0</option>
                                        <option>20</option>
                                    </select>
                                </th>
                                <th>20</th>
                                <th>5</th>
                                <th>250</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="text-right form-group">
                            <div class="col-md-6">
                                <a routerLink="/cabinet/queries" class="btn btn-white btn-lg">Назад</a>
                                <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
