<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <form [formGroup]="form" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Имя</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="firstname"  formControlName="firstname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Фамилия</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="lastname"  formControlName="lastname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Телефон</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="phone"  formControlName="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Электронная почта</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" name="email"  formControlName="email">
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a routerLink="/cabinet/dashboard" class="btn btn-white btn-lg">Назад</a>
                                <a routerLink="./edit" class="btn btn-theme btn-lg">Редактировать</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
