@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,400italic,300italic,300,600italic);
html,body {
    position: relative;
    min-height: 100%;
}

body{
    background-image: url("./assets/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color:#7b777a;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
a{
    color:#1b4d87;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
button{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
*{
    outline: 0 !important;
}
a:hover, a:focus{
    color:#fff;
    text-decoration: none;
}
table a:focus {
  color: #1b4d87;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
    font-weight: 600;
    color: #beb7b7;
}
/*select {*/
    /*background-image: url('/assets/img/svg/down_select.svg') !important;*/
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
    /*appearance: none;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 100% 50%;*/
/*}*/
.pre {
  white-space: pre;
}
.btn{
    /*text-transform: capitalize;*/
    color:#eee;
    font-size: 13px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.btn-theme.btn:focus {
    color: #fff;
}
.btn-border-theme:focus {
    color:  #1b4d87;
}
.btn-theme{
    background:  #1b4d87;
}
.btn-theme:hover{
    background-color: #222;
    color:#eee;
}
.btn-lg{
    padding: 10px 25px;
}
#wrapper {
    overflow: hidden;
    width: 100%;
}
#para1,#para2,#para3{
    display: inline-block;
    padding: 15px 3px;
    font-size: 15px;
    color: #1b4d87;
}
#para1{
    padding-right: 30px;
}
.topbar {
    left: 0px;
    height: 57px;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 999;
    /*background: #23262d;*/
}
.topbar-left {
    background: #1b4d87;
    border-bottom: 1px solid #1b4d87;
    float: left;
    height: 57px;
    line-height: 40px;
    position: relative;
    width: 240px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbar-left a{
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}
.menu-toggle{
    /*background: #303338;*/
    height: 57px;
    text-align: center;
    cursor: pointer;
    padding: 0px 20px;
    color: #1b4d87;
    font-size: 25px;
    line-height: 50px;
}
.app-search{
    width: 200px;
    height: 57px;
    position: relative;
}
.app-search i{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
}
.app-search .form-control{
    height: 57px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background: transparent;
    color:#eee;
}
.top-right-nav{
    padding-right: 30px;
    float: right;
}
.top-right-nav li a:hover,.top-right-nav li a:focus{
    color: #fff;
    background: transparent;
}
.top-right-nav li a i{
    font-size: 25px;
}
.top-right-nav li a{
    display: block;
}
.top-right-nav li{
    vertical-align: middle;
}
.profile-link a{
    padding-top: 12px;
    padding-bottom: 9px;
}
.profile-link img{
    margin-right: 5px;
    float: left;
}
.profile-link span{
    display: inline-block;
}
.profile-link span em{
    font-size: 12px;
    color:  #7b777a;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}
.dropdown-menu{
    background: #1b4d87;
    margin: 0;
    padding: 0;
}
.dropdown-menu>li>a{
    color:#fff;
    padding: 7px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    text-transform: capitalize;
}
.dropdown-menu>li>a:hover{
    color: #1b4d87;
}
.dropdown-menu>li:last-child a{
    border-bottom: 0px;
}

.top-right-nav .badge{
    font-size: 12px;
    background:  #ddcc36;
    position: absolute;
    left: 3px;
    top: 3px;
}
.dropdown-menu.dropdown-lg{
    width: 225px;
    right: 0px;
    left: auto;
}
.dropdown-menu.dropdown-lg i{
    float: left;
    margin-right: 10px;
    color:  #1b4d87;
}
.dropdown-menu.dropdown-lg .drop-content{
    overflow: hidden;
}
.dropdown-menu.dropdown-lg .drop-content h4 {
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
}
.dropdown-menu.dropdown-lg .drop-content span{
    font-size: 12px;
    color:  #7b777a;
}
.m-b {
    margin-bottom: 15px;
}
.bwizard-steps li a {
    display: block;
    padding: 8px 20px;
    background-color: #222;
    color: #fff;
}
.bwizard-steps li.active a {
    background-color:  #1b4d87;
    color: #fff;
}
.pager li>a, .pager li>span, .pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 15px;
}
.pager li>a:hover, .pager li>span:hover,.pager li>a:focus, .pager li>span:focus{
    background-color:  #1b4d87;
}
.bwizard .progress {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
}
.flot-chart {
    display: block;
    height: 200px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
.flot-chart-pie-content {
    width: 200px;
    height: 200px;
    margin: auto;
}
.bwizard .progress-bar {
    background-color: #1b4d87;
}
.sidebar{
    width: 270px;
    height: 100%;
    position: fixed;
    right: -270px;
    top: 57px;
    background: #272a31;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    z-index: 99;
}
.sidebar.active{
    right: 0;
}
.sidebar .nicescroll{
    padding: 30px 15px;
    padding-bottom: 70px;
}
.form-control{
    border-color: #1b4d87;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.form-control:focus{
    /*border-color:  #1b4d87;*/
    border-color:  #1b4d87;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.side-menu {
    bottom: 0;
    top: 0;
    width: 240px;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
.side-menu.left {
    /*background: #23262d;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);*/
    position: absolute;
    top: 0;
}
.metismenu{
    /*my style*/
    /*background: #23262d;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);*/
    /*my style*/
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 57px;
    height: auto !important;
}
.metismenu>li>a{
    color:#7b777a;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 15px;
    display: block;
}
.metismenu>li>a.active {
    background-color: #1b4d87;
    /*background-color: #aaa;*/
}
.metismenu>li>a i{
    color:#fff;
    font-size: 20px;
    margin-right: 10px;
}
.metismenu>li{
    position: relative;
}
.metismenu>li>a:hover{
    /*background-color:#30333c;*/
    background-color: rgba(27, 77, 135, 0.8);
}
.fixed-left .side-menu.left {
    margin-top: 0px;
    padding-bottom: 0px;
    position: absolute;
}
.content-page {
    margin-left: 240px;
}
.content-page > .content {
    min-height: 100vh;
    margin-top: 0px;
    padding: 20px 5px 60px 5px;
    padding-top: 80px;

}
.footer {
    background-color: transparent;
    bottom: 0px;
    height: 50px !important;
    color: #7b777a;
    left: 240px;
    text-align: left !important;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.widescreen.fixed-left .side-menu{
    width: 70px;
}
.widescreen.fixed-left .side-menu .metismenu>li>a span{
    display: none;
}
.widescreen.fixed-left .side-menu .metismenu>li>a{
    text-align: center;
}
.widescreen.fixed-left .side-menu .metismenu>li .nav-second-level{
    position: absolute;
    height: auto !important;
    left:70px;
    top: 0;
    min-width: 200px;
    padding: 0px;
    margin: 0px;
    background: #30333c;
}
.widescreen.fixed-left .side-menu .metismenu>li:hover .nav-second-level{
    display: block;
}
.widescreen.fixed-left .content-page{
    margin-left: 70px;
}
.widescreen.fixed-left .footer{
    left: 70px;
}
.nav>li>a{
    color:#7b777a;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
}
.nav>li>a:hover,.nav>li>a:focus{
    background: transparent;
    color:  #1b4d87;
}
.nav.nav-second-level>li>a{
    padding-left:30px;
}
.nav.nav-third-level li a{
    padding-left:55px;
}
.metismenu>li.active>a{
    /*background: #30333c;*/
    background: rgba(27, 77, 135, 0.8);
    color:#fff;
}
.container{
    width: 100%;

}
.page-title{
    margin-bottom: 20px;
}
.page-title h3{
    display: inline-block;
    margin-right: 30px;
}
.page-title a{
    display: inline-block;
    border: 1px solid #272a31;
    padding: 5px 10px;
    color:#7b777a;
    border-radius: 2px;
}
.page-title a:hover{
    border-color:  #1b4d87;
    color:  #fff;
    background:  #1b4d87;
}
.page-title a:hover i{
    color:#fff;
}
.page-title i{
    margin-right: 5px;
    color:  #1b4d87;
}

.widget-box{
    padding: 15px;
    /*background: #272a31;*/
    margin-bottom: 20px;
}
.widget-box h4{
    color:#bdb7b9;
    font-size: 14px;
}
.widget-box i{
    color:  #1b4d87;
}

.panel-box{
    padding: 15px;
    /*background: #272a31;*/
    margin-bottom: 20px;
}
.panel-box h4{
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 25px;
    /*background: #272a31;*/
    padding: 10px 15px;
}
.metismenu li.profile-menu {
    clear: both;
    padding-bottom: 35px;
    position: relative;
}

.metismenu li.profile-menu a:hover,.metismenu li.profile-menu a:focus{
    background-color: transparent;
}
.metismenu .dropdown-menu.profile-drop{
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 999;
}
.nav-bottom{
    margin: 20px 0;
    height: auto !important;
}
.nav-bottom a{
    display: block;
    float: left;
    width: 25%;
    padding: 10px 0;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    font-size: 20px;
}
.nav-bottom a:hover{
    color:#fff;
    background:  #1b4d87;
}
.nav-bottom .version{
    padding: 0px 15px;
}
.nav-bottom .version a{
    font-size: 12px;
    padding: 2px 10px;
    width: auto;
    background: #1b4d87;
    color:#fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.morris-hover.morris-default-style{
    background: rgba(0, 0, 0, 0.8);
    border: solid 2px rgba(54, 54, 54, 0.8);
}
.va-middle{
    vertical-align: middle;
}
.m0{
    margin: 0;
}
.table>thead>tr>th{
    /*border-bottom-color: rgba(255,255,255,0.02) !important;*/
    border-bottom-color: #1b4d87 !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top-color: #1b4d87 !important;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid rgba(255,255,255,0.02);
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: rgba(0,0,0,0.2);
}
.table-hover>tbody>tr:hover {
    background-color: rgba(0,0,0,0.3);
}
.typo-box h4{
    border: 0px;
    margin-bottom: 5px;
    background: transparent;
    padding: 0;
}
.fa-hover a{
    display: block;
    padding:20px 15px;
    color:  #7b777a;
}
.fa-hover a i{
    font-size: 30px;
}
.btn{
    padding: 5px 10px;
    margin-bottom: 10px;
}
.btn-lg{
    padding: 10px 20px;
}
.btn-md{
    padding: 7.5px 20px;
}
.btn-xs{
    padding: 3px 7px;
}
.btn-default{
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.1);

    color: #7b777a;
    border-radius: 2px;
    background: transparent;
}
.btn-default:hover{
    border-color: #1b4d87;
    color: #fff;
    background: #1b4d87;
}
.btn-border-white{
    display: inline-block;
    border: 1px solid rgba(255,255,255,1);
    color: #fff;
    border-radius: 2px;
    background: transparent;
}
.btn-border-white:hover{
    border-color: #1b4d87;
    color: #fff;
    background: #1b4d87;
}
.btn-border-theme{
    display: inline-block;
    border: 1px solid  #1b4d87;
    color:  #1b4d87;
    border-radius: 2px;
    background: transparent;
}
.btn-border-theme:hover{
    border-color: #1b4d87;
    color: #fff;
    background: #1b4d87;
}
.btn-white{
    background: #fff;
    color:#333;
}
.btn-white:hover,
.btn-white.active{
    background:   #1b4d87;
    color:#fff;
}
.btn-default-fill{
    background: rgba(255,255,255,0.1);
}
.btn-default-fill:hover{
    background:   #1b4d87;
    color:#fff;
}
.nav-tabs{
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color:  #1b4d87;
    border: 1px solid #1b4d87;
    border-bottom-color: transparent;
}
.tabs-container .tabs-left > .nav-tabs > li{
    float: none;
}
.tabs-container .tabs-left > .nav-tabs .active > a{
    border-color: #1b4d87 transparent #1b4d87 #1b4d87;
}
.tabs-container .tabs-left .tab-content{
    overflow: hidden;
    background-color:transparent;
}

.tabs-container .tabs-right > .nav-tabs {
    float: right;
    margin-right: 0px;
}
.tabs-container .tabs-right > .nav-tabs > li{
    float: none;
}
.tabs-container .tabs-right > .nav-tabs .active > a{
    border-color: #1b4d87 #1b4d87 #1b4d87 transparent;
}
.tabs-container .tabs-right .tab-content{
    overflow: hidden;
    background-color:transparent;
}
.locksreen-col{
    max-width: 320px;
    margin: 0 auto;
    padding-top: 150px;
}
.locksreen-col h3 small{
    font-size: 12px;
    display: block;
    margin: 5px 0;
}
.error-col{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 200px;
}
.error-col h3{
    font-size: 9rem;
    color:  #1b4d87;
}

table.dataTable thead th{position:relative;background-image:none!important}table.dataTable thead th.sorting:after,table.dataTable thead th.sorting_asc:after,table.dataTable thead th.sorting_desc:after{position:absolute;top:12px;right:8px;display:block;font-family:FontAwesome}table.dataTable thead th.sorting:after{content:"\f0dc";color:#ddd;font-size:.8em;padding-top:.12em}table.dataTable thead th.sorting_asc:after{content:"\f0de"}table.dataTable thead th.sorting_desc:after{content:"\f0dd"}div.dataTables_scrollBody table.dataTable thead th.sorting:after,div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after{content:""}table.table thead th.sorting:after,table.table thead th.sorting_asc:after,table.table thead th.sorting_desc:after{top:8px}div.dataTables_paginate a.paginate_button.first,div.dataTables_paginate a.paginate_button.previous{position:relative;padding-left:24px}div.dataTables_paginate a.paginate_button.last,div.dataTables_paginate a.paginate_button.next{position:relative;padding-right:24px}div.dataTables_paginate a.first:before,div.dataTables_paginate a.previous:before{position:absolute;top:8px;left:10px;display:block;font-family:FontAwesome}div.dataTables_paginate a.last:after,div.dataTables_paginate a.next:after{position:absolute;top:8px;right:10px;display:block;font-family:FontAwesome}div.dataTables_paginate a.first:before{content:"\f100"}div.dataTables_paginate a.previous:before{content:"\f104"}div.dataTables_paginate a.next:after{content:"\f105"}div.dataTables_paginate a.last:after{content:"\f101"}div.dataTables_paginate li.first>a,div.dataTables_paginate li.previous>a{position:relative;padding-left:24px}div.dataTables_paginate li.last>a,div.dataTables_paginate li.next>a{position:relative;padding-right:24px}div.dataTables_paginate li.first a:before,div.dataTables_paginate li.previous a:before{position:absolute;top:6px;left:10px;display:block;font-family:FontAwesome}div.dataTables_paginate li.last a:after,div.dataTables_paginate li.next a:after{position:absolute;top:6px;right:10px;display:block;font-family:FontAwesome}div.dataTables_paginate li.first a:before{content:"\f100"}div.dataTables_paginate li.previous a:before{content:"\f104"}div.dataTables_paginate li.next a:after{content:"\f105"}div.dataTables_paginate li.last a:after{content:"\f101"}div.columns div.dataTables_paginate li.first a:before,div.columns div.dataTables_paginate li.last a:after,div.columns div.dataTables_paginate li.next a:after,div.columns div.dataTables_paginate li.previous a:before{top:0}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color:  #1b4d87;
    cursor: default;
    background-color:  transparent;
    border-color: transparent;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #1b4d87;
    background-color: transparent;
    border-color: transparent;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #fff;
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
}
.mail-ul li a{
    background-color: rgba(0,0,0,0.1);
    display: block;
    margin-bottom: 5px;
}
.mail-ul li a:hover,.mail-ul li.active a{
    background:  #1b4d87;
    color: #fff;
}

body.widescreen .nav-bottom{
    display: none;
}
.jqstooltip {
    padding: 5px !important;
    border: none !important;
    border-radius: 10px;
    background-color:  #1b4d87;
    width: auto !important;
    height: auto !important;
}
.mp-manager-tasks {
    margin-top: 5px;
}
.mp-manager-tasks__all {
    margin-right: 15px;
    color: #fff;
}
.mp-manager-tasks__overdue {
    color: #ff6060;
}
/**START MY STYLE**/
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex.flex_justify-between {
    justify-content: space-between;
}
.flex.flex_justify-center {
    align-items: center;
}
.table th {
    text-align: center;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}
textarea {
    overflow: hidden;
}
select {
    min-width: 100px;
}
.align-sub {
    vertical-align: sub;
}
.margin-b {
    margin-bottom: 20px;
}
.input-col-4 {
    width: 30%;
    display: inline-block;
}
#main_calendar {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.download-file-list {
    /*list-style-type: none;*/
    padding: 0px;
    margin: 10px 0px 0px;
}
.download-file-list li {
    margin-bottom: 5px;
    position: relative;
    /*padding-left: 15px;*/
    padding-right: 15px;
}
.download-file-list__item__name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.download-file-list__item__delete {
    position: absolute;
    right: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    width: 7px;
    display: inline-block;
    opacity: 1;
    transition: .3s;
}
.download-file-list__item__delete:hover {
    opacity: .4;
}
.download-file-list__item__delete .fa {
    font-size: 10px;
    color: #848484;
}
.ngx-datepicker-container input.ngx-datepicker-input {
    max-width: 100%;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: none;
    border: 1px solid #7b777a !important;
}
.ngx-datepicker-container input.ngx-datepicker-input:focus {
    border-color:  #1b4d87 !important;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: #1b4d87;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
    background: #1b4d8759;
}
  .light ss-multiselect-dropdown .open .dropdown-toggle,
  .light ss-multiselect-dropdown .open .dropdown-toggle:focus,
  .light ss-multiselect-dropdown .open .dropdown-toggle:hover {
    color: #7a777a;
  }
  .light ss-multiselect-dropdown .dropdown-menu{
    background: #d4d4d4;
  }
/*start validation*/
  .ng-touched.ng-dirty.ng-invalid {
      border-color: #8e1c1c;
  }
  ss-multiselect-dropdown.ng-touched.ng-dirty.ng-invalid .dropdown-toggle.btn{
      border-color: #8e1c1c;
  }
  /*end validation*/
/*start modal window*/
.modal-backdrop.show {
    opacity: .5;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0);
    transform: translate(0);
}
.modal.fade.show {
    opacity: 1;
}
/*end modal window*/
/*start calendar*/
.cal-month-view .cal-cell-top {
    min-height: 20px;
    color: #1b4d87;
}
.cal-month-view .cal-day-cell {
    min-height: 50px;
    max-height: 50px;
}
.cal-month-view .cal-cell-row:hover {
    background: none;
}
.cal-month-view .cal-day-number {
    font-size: 14px;
    opacity:1;
    margin-top: 3px;
    margin-right: 6px;
    color: #bdbaba;
    margin-bottom: 10px;
}
.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: #c56868;
}
.cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
    background-color: #b3b3b3;
}
.calendar-icon {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    background: none;
    transition: .3s ease-out;
}
.calendar-icon:before{
    border: 1px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .75;
    position: absolute;
    top: 0;
    transition: 0.3s ease;
    visibility: hidden;
    width: 100%;
}
.calendar-icon:hover:before {
    opacity: 0;
    transform: scale(1.65);
    /*transition: all 0.2s ease 0s;*/
    visibility: visible;
}
.calendar-icon:hover {
    background: #fff;
}
.calendar-icon i {
    color: #fff;
    transition: .3s ease-out;
}
.calendar-icon:hover i {
    color: #000;
}
.calendar-icon.calendar-icon_right i {
    margin-right: 1px;
}
.calendar-icon.calendar-icon_left i {
    margin-left: -1px;
}
.cal-month-view .cal-days .cal-cell-row {
    border-bottom: 1px solid #848383;
}
.cal-month-view .cal-day-cell:not(:last-child) {
    border-right: 1px solid #848383;
}
.cal-month-view .cal-days  {
    border: 1px solid #848383;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number{
    color: #000;
    font-size: 14px;
}
/*end calendar*/
/**END MY STYLE**/
/*
 * metismenu - v2.4.3
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu#readme
 *
 * Made by Osman Nuri OkumuÅŸ <onokumus@gmail.com> (https://github.com/onokumus)
 * Under MIT License
 */
mwl-calendar-open-day-events {
    display: none;
}

.metismenu .arrow {
    float: right;
    line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
    float: left;
}

/*
 * Require Bootstrap
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
    content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
    content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
    content: "\f104";
}
.metismenu .active > a > .fa.arrow:before {
    content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
    content: "\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
    content: "\f3d0";
}
.metismenu .plus-times {
    float: right;
}
*[dir="rtl"] .metismenu .plus-times {
    float: left;
}
.metismenu .fa.plus-times:before {
    content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.metismenu .plus-minus {
    float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
    float: left;
}
.metismenu .fa.plus-minus:before {
    content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
    content: "\f068";
}
.metismenu .collapse {
    display: none;
}
.metismenu .collapse.in {
    display: block;
}
.metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}
/* start multi select */
ss-multiselect-dropdown .dropdown.dropdown-inline{
  width: 100%;
}

ss-multiselect-dropdown .dropdown-toggle.btn {
  width: 100%;
  max-width: 100%;
  background: none;
  height: 34px;
  border: 1px solid #7a777a;
  text-align: left;
  color: #7a777a;
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}

ss-multiselect-dropdown .open .dropdown-toggle.btn-primary,
ss-multiselect-dropdown .open .dropdown-toggle.btn-primary:hover,
ss-multiselect-dropdown .open .dropdown-toggle.btn-primary:focus {
  background: none;
  border: 1px solid #1b4d87;
}
ss-multiselect-dropdown .dropdown-toggle.btn .caret {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
ss-multiselect-dropdown .dropdown-menu {
  width: 100%;
}
ss-multiselect-dropdown .dropdown-menu a {
  display: block;
  color: #7a777a;
}
/* end multi select */

.customer-user-tariff-table  input {
  background: none;
  border: none;
  border-bottom: 1px solid #7b777a ;

}

.customer-user-tariff-table  input:focus {
  border-color: #1b4d87;
}

@media(max-width:1299px){
    #para1{
        padding-right: 5px;
    }
    #para1,#para2,#para3{
        font-size: 13px;
    }
    .widget-box h4 {
        font-size: 11px;
    }
    .widget-box i {
        font-size: 27px;
    }
    .widget-box h2{
        font-size: 25px;
    }
}
@media(max-width:991px){
    #para1,#para2,#para3{
        display: none;
    }
    .nav-bottom{
        display: none;
    }
    .side-menu{
        width: 70px;
        left: -70px;
    }
    .widescreen.fixed-left .side-menu{
        left: 0;
    }
    .fixed-left .side-menu .metismenu>li>a span {
        display: none;
    }
    .content-page{
        margin-left: 0px;
    }
    .metismenu>li>a i{
        margin-right: 0px;
    }
    .widescreen.fixed-left .side-menu .metismenu>li:hover .nav-second-level{
        display: block;
    }
    .widescreen.fixed-left .side-menu .metismenu>li .nav-second-level{
        position: absolute;
        height: auto !important;
        left:70px;
        top: 0;
        min-width: 200px;
        padding: 0px;
        margin: 0px;
        background: #30333c;
    }
    .metismenu .collapse.in {
        display: none;
    }
    .metismenu .profile-drop.dropdown-menu.collapse.in {
        display: inherit;
    }
    .metismenu .nav-third-level.collapse.in {
        display: inherit;
    }
    .footer{
        left: 0;
    }
}
@media(max-width:767px){
    .table-responsive{
        border-color: rgba(255,255,255,0.1);
    }
    @media(max-width:767px){
        .tabs-container .tabs-left .nav-tabs {
            float: none !important;

            margin-right: 0px;
        }
        .tabs-container .tabs-right .nav-tabs {
            float: none !important;

            margin-right: 0px;
        }
    }
}
@media(max-width:600px){
    .page-title h3 {
        display: block;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .bwizard-steps li{
        width:100%;
        float: left;
        margin-bottom: 5px;
    }
}
#query_col_4 {
  padding-top: 0px;
  }
.hr_query_bottom {
  border-top: 1px solid #333;
}

.ng-value, .ng-select {
  color: #7b777a;
}
.ng-dropdown-panel {
  background-color: lightgrey;
  margin-left: -12px;
  margin-top: 6px;
  opacity: 1;
}
.ng-option {
  background-color: lightgrey;
  margin-bottom: 1px;
  padding-left: 10px;
}
.ng-dropdown-panel-items, .ng-option {
  -webkit-box-sizing: border-box;
  height: 29px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ng-input > input {
  color: #7b777a;
}

.ng-dropdown-panel-items, .scroll-host {
  width: 490px;
  margin-left: -12px;
}


.ng-select.ng-select-disabled {
  background: #eee;
  padding: 0px;
}

.ng-select.ng-select-disabled .ng-select-container {
  overflow: visible;
}

.ng-select.ng-select-single.ng-select-disabled .ng-select-container .ng-value-container {
  overflow: visible;
}
.ng-select.ng-select-single.ng-select-disabled span {
  height: 34px;
  line-height: 34px;
  padding: 6px 12px;
}

.cdk-overlay-container {
  z-index: 1100;
}

.ng-dropdown-panel-items, .scroll-host {
  max-width: calc(100% + 24px);
}
/*.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-input>input {*/
  /*background: #fff;*/
  /*cursor: not-allowed;*/
  /*height: 34px;*/
/*}*/

/*#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 24px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}

#toast-container > .toast-warning:before {
  content: "\f0e7";
}

#toast-container > .toast-error:before {
  content: "\f071";
}

#toast-container > .toast-info:before {
  content: "\f005";
}

#toast-container > .toast-success:before {
  content: "\f00C";
}

#toast-container > div {
  -moz-box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  opacity: .9;
  -ms-filter: alpha(opacity=90);
  filter: alpha(opacity=90);
}

#toast-container > :hover {
  -moz-box-shadow: 0 0 4px #999;
  -webkit-box-shadow: 0 0 4px #999;
  box-shadow: 0 0 4px #999;
  opacity: 1;
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

.toast {
  background-color: #1ab394;
}

.toast-success {
  background-color: #1ab394;
}

.toast-error {
  background-color: #ed5565;
}

.toast-info {
  background-color: #23c6c8;
}

.toast-warning {
  background-color: #f8ac59;
}

.toast-top-full-width {
  margin-top: 20px;
}

.toast-bottom-full-width {
  margin-bottom: 20px;
}*/
