.pagination {
    margin: 0px;
}

.paginate_button {
    position: relative;
    padding: 6px;
    color: #7b777a;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.paginate_button:hover,
.paginate_button.active {
    color: #f7b03e;
}

