<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="dataTables_info">
           с {{from}} по {{to}} с {{paginationData?.totalcount}}</div>
    </div>
    <div class="col-md-8 col-xs-12" *ngIf="this.paginationData?.pagecount > 1">
        <div class="dataTables_paginate paging_simple_numbers text-right">
            <ul class="pagination">
                <li class="paginate_button " (click)="first()">
                    Первая
                </li>
                <li class="paginate_button previous" (click)="previous()">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </li>
                <li *ngFor="let item of count; let i = index" class="paginate_button" [ngClass]="{active: page == i+1}" (click)="setPage(i + 1)">{{i + 1}}
                </li>
                <li class="paginate_button next" (click)="nex()">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                <li class="paginate_button " (click)="last()">
                    Последняя
                </li>
            </ul>
        </div>
    </div>
</div>
