<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="row">
                    <div class="col-sm-9">
                        <!--<form method="get" class="form-horizontal">-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-sm-4">-->
                                    <!--<input type="text" class="form-control" name="tel" placeholder="Поиск по слову">-->
                                <!--</div>-->
                                <!--<div class="col-sm-3">-->
                                    <!--<select class="form-control m-b" name="account">-->
                                        <!--<option>Накладной</option>-->
                                        <!--<option>Агента</option>-->
                                        <!--<option>Получатель</option>-->
                                        <!--<option>Тип отправления</option>-->
                                        <!--<option>Статус</option>-->
                                        <!--<option>Страна</option>-->
                                        <!--<option>Город</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3">-->
                                    <!--<input type="text" class="form-control js-datepicker" name="time">-->
                                <!--</div>-->
                                <!--<div class="col-sm-2">-->
                                    <!--<button class="btn btn-theme btn-md">search</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                      <app-search-table (searchData)="getSearchData($event)"></app-search-table>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('code_dkl')">
                                    № DKL
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('delivery_price')">
                                    Выставлено
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('stock_price')">
                                    Поступления
                                  </a>
                                </th>
                                <th>
                                  <a href="javascript:void(0);" (click)="tableSort('pay_to_agents')">
                                    Выплаты
                                  </a>
                                </th>
                                <th>Прибыль</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let analytic of analytics.listdata">
                                <td>&nbsp;</td>
                                <td>
                                  <a href="" [routerLink]="['/cabinet/orders/show', analytic.id]">
                                    {{analytic.code_dkl}}
                                  </a>
                                </td>
                                <td>{{analytic.delivery_price}}</td>
                                <td>{{analytic.stock_price}}</td>
                                <td>{{analytic.pay_to_agents}}</td>
                                <td>{{analytic.profit}}</td>
                            </tr>
                            <tr>
                                <td>Сумма</td>
                                <td>&nbsp;</td>
                              <td>{{analytics.sum.delivery_price}}</td>
                              <td>{{analytics.sum.stock_price}}</td>
                              <td>{{analytics.sum.pay_to_agents}}</td>
                              <td>{{analytics.sum.profit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination [page]="page" [paginationData]="analytics['pagination']" (pageChange)="tablePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>
