<form method="get" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-3">
      <input type="text" class="form-control" name="tel" [placeholder]="searchInput" [(ngModel)]="searchWord">
    </div>
    <div class="col-sm-3">
      <app-datepicker (sendDate)="getDate($event)"></app-datepicker>
    </div>
    <div class="col-sm-2" *ngIf="anotherFilterData">
      <select  class="form-control" name="anotherFilter" [(ngModel)]="anotherFilter">
        <option value="">{{anotherFilterPlaceholder}}</option>
        <option *ngFor="let anotherFilter of anotherFilterData | keys" value="{{anotherFilter.key}}">
          {{ anotherFilter.value }}
        </option>
      </select>
    </div>
    <div class="col-sm-2" *ngIf="anotherFilterDataSecond">
      <select  class="form-control" name="anotherFilter2" [(ngModel)]="anotherFilterSecond">
        <option value="">{{anotherFilterPlaceholderSecond}}</option>
        <option *ngFor="let anotherFilter of anotherFilterDataSecond | keys" value="{{anotherFilter.key}}">
          {{ anotherFilter.value }}
        </option>
      </select>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-theme btn-md" (click)="tableSearch()">search</button>
    </div>
  </div>
</form>
