<div class="container">
    <div class="page-title">
        <h3>{{agent?.data.name}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <form class="form-horizontal" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Основная информаци:</h4>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Тип услуг</label>
                                <div class="col-sm-8">
                                  <textarea class="form-control" rows="{{countTypeService}}" formControlName="typeService"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Ответственное лицо</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="responsible_person">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Электронная почта</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" formControlName="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Телефон</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Количество направлений:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="countDirections" formControlName="countDirections">
                                </div>
                            </div>
                            <!--<div class="">-->
                                <!--<button type="button" class="btn btn-theme btn-lg" (click)="openModal(modalContentRequestQuotation)">Запросить ценновое предожение</button>-->
                                <!--<a href="/" class="btn btn-white btn-lg">Просмотреть запросы</a>-->
                            <!--</div>-->

                            <ng-container *ngIf="agent.data.directionsParams">
                              <ng-container *ngFor="let dataForm of agent.data.directionsParams | keys; let i = index">
                                <app-agent-form-element-show-component [form]="form" [dataForm]="dataForm"></app-agent-form-element-show-component>
                                <div class="">
                                  <button type="button" class="btn btn-theme btn-lg" (click)="openModal(modalContentRequestQuotation, dataForm.value)">Запросить ценновое предожение</button>
                                  <a [routerLink]="['/cabinet/queries-price']" [queryParams]="{transporter_type: 'agents', transporter_direction_id: dataForm.value.id}" class="btn btn-white btn-lg">Просмотреть запросы</a>
                                </div>
                              </ng-container>
                            </ng-container>

                        </div>
                    </div>
                </form>
        <!--<form method="get" class="form-horizontal">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<h4>Название направления: Германия</h4>-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label">Тип услуг</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<select class="form-control m-b" name="" disabled="disabled">-->
                                        <!--<option>Марина</option>-->
                                        <!--<option>Марина</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label">Ответственное лицо</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<input type="text" class="form-control" name="" placeholder="" disabled="disabled">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label">Электронная почта</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<input type="email" class="form-control" name="" placeholder="" disabled="disabled">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label">Телефон</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<input type="text" class="form-control" name="" placeholder="" disabled="disabled">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label">Комментарий</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<textarea class="form-control" rows="3" disabled="disabled"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="">-->
                                <!--<button type="button" class="btn btn-theme btn-lg" (click)="open(modalContentRequestQuotation)">Запросить ценновое предожение</button>-->
                                <!--<a href="/" class="btn btn-white btn-lg">Просмотреть запросы</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
                <div class="form-group text-right">
                    <div class="row">
                        <div class="col-sm-6">
                            <a routerLink="/cabinet/agents" class="btn btn-white btn-lg">Назад</a>
                            <a [routerLink]="['/cabinet/agents/edit', agentId ]" class="btn btn-theme btn-lg">Редактировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start modal add-direction -->
<!--<ng-template #modalContentAddDirection let-c="close">-->
    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" (click)="c('Cross click')">×</button>-->
        <!--<h4 class="modal-title">Добавить направление</h4>-->
    <!--</div>-->
    <!--<form method="get" class="form-horizontal">-->
        <!--<div class="modal-body">-->
            <!--<div class="row">-->
                <!--<div class="col-md-10">-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-5 control-label">Название направления</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<input type="text" value="test" class="form-control" name="" placeholder="">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-5 control-label">Тип услуг</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<select class="form-control m-b" name="">-->
                                <!--<option>Марина</option>-->
                                <!--<option>Марина</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-5 control-label">Ответственное лицо</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<input type="text" value="test" class="form-control" name="" placeholder="">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-5 control-label">Электронная почта</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<input type="email" value="test" class="form-control" name="" placeholder="">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-5 control-label">Телефон</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<input type="text" value="test" class="form-control" name="" placeholder="">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-5 control-label">Комментарий</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<textarea class="form-control" rows="3"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<button type="submit" class="btn btn-theme btn-lg">Сохранить</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</ng-template>-->
<!-- end modal add-direction -->

<!-- start modal request-quotation -->
<ng-template #modalContentRequestQuotation let-d="close">
    <div class="modal-header">
        <button type="button" class="close" (click)="d('Cross click')">×</button>
        <h4 class="modal-title">
            Добрый день,    я менеджер компании DKL, меня зовут Анастасия.
            Меня интересует следующие расценки на данную услугу перевозки.
        </h4>
    </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="formModal" (ngSubmit)="onSubmitQueriesPrice(formModal)">
      <!--<div class="row">-->
      <!--<div class="col-md-6">-->
      <!--<div class="group">-->
      <!--<h4>Перевозчик</h4>-->
      <!--<app-form-autocomplete [form]="formModal" [formName]="fromNames"></app-form-autocomplete>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-md-6">
          <div class="group">
            <h4>Откуда</h4>
            <!--<app-autocomplete-city [form]="form" [fromData]="autocompleteCityFromFormComponent"></app-autocomplete-city>-->
            <div class="form-group">
              <label class="col-sm-4 control-label">Город</label>
              <div class="col-sm-8">
                <ng-select [items]="autocompleteCityFrom.local"
                           [multiple]="false"
                           [closeOnSelect]="true"
                           [hideSelected]="false"
                           formControlName="city_from"
                           bindLabel="fullname"
                           bindValue="fullname"
                           class="form-control"
                           loadingText="Searching..."
                           [loading]="autocompleteCityFrom.loading"
                           (input)="onGetLocation($event, autocompleteCityFrom)"
                           (change)="onSelectLocationFrom($event)"
                >
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Страна</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="country_from" >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Район/Штат</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="region_from">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Индекс</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="zip_code_from">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Тип услуги</label>
              <div class="col-sm-8">
                <select class="form-control m-b" formControlName="type">
                  <ng-container *ngIf="( queriesPrice.data['typeNames'] | json) != '{}' ">
                    <option *ngFor="let item of queriesPrice.data['typeNames'] | keys; let i = index" value="{{item.key}}">
                      {{ item.value }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <app-insurance-form-elem [form]="formModal" [formData]="queriesPrice.data"></app-insurance-form-elem>
            <!--<div class="form-group">-->
              <!--<label class="col-sm-4 control-label">Необходима ли страховка</label>-->
              <!--<div class="col-sm-8">-->
                <!--<select class="form-control m-b" name="insurance" formControlName="insurance">-->
                  <!--<option value="0">Нет</option>-->
                  <!--<option value="1" >Да</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="col-sm-4 control-label">Стоимость страховки</label>-->
              <!--<div class="col-sm-4">-->
                <!--<input type="text" class="form-control" name="" placeholder="Введите сумму" formControlName="insurance_price">-->
              <!--</div>-->
              <!--<div class="col-sm-4">-->
                <!--<input type="text" class="form-control" name="" placeholder="Введите валюту" formControlName="formModal">-->
              <!--</div>-->
            <!--</div>-->
            <div class="form-group">
              <label class="col-sm-4 control-label">Цена</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="items_price">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="group">
            <h4>Куда</h4>
            <!--<app-autocomplete-city [form]="form" [fromData]="autocompleteCityToFormComponent"></app-autocomplete-city>-->
            <div class="form-group">
              <label class="col-sm-4 control-label">Город</label>
              <div class="col-sm-8">
                <ng-select [items]="autocompleteCityTo.local"
                           [multiple]="false"
                           [closeOnSelect]="true"
                           [hideSelected]="false"
                           formControlName="city_to"
                           bindLabel="fullname"
                           bindValue="fullname"
                           class="form-control"
                           loadingText="Searching..."
                           [loading]="autocompleteCityTo.loading"
                           (input)="onGetLocation($event, autocompleteCityTo)"
                           (change)="onSelectLocationTo($event)"
                >
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Страна</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="country_to">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Район/Штат</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="region_to">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Индекс</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="zip_code_to">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="group">
            <h4>Описание</h4>
            <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label">Количетсво мест</label>-->
            <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" formControlName="items_count">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
              <label class="col-sm-4 control-label">Общий вес</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="items_totalweight">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <app-parcel-form-params [form]="formModal" [formData]="queriesPrice.data" [calcFormControlName]="'items_totalweight'" [typeFormControlName]="'type'"></app-parcel-form-params>

        <!--<fieldset formGroupName="itemsParams">-->
          <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th>-->
                <!--Описани-->
              <!--</th>-->
              <!--<th>-->
                <!--Документ или посылка-->
              <!--</th>-->
              <!--<th>-->
                <!--Тип отправления-->
              <!--</th>-->
              <!--<th>-->
                <!--Количество-->
              <!--</th>-->
              <!--<th>-->
                <!--Вес-->
              <!--</th>-->
              <!--<th>-->
                <!--Длина-->
              <!--</th>-->
              <!--<th>-->
                <!--Шырина-->
              <!--</th>-->
              <!--<th>-->
                <!--Высота-->
              <!--</th>-->
              <!--<th>-->
                <!--Цена-->
              <!--</th>-->
              <!--<th>-->
                <!--Валюта-->
              <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr *ngFor="let item of [1 ,2, 3, 4]; let i = index">-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="client_comment_{{i+1}}">-->
              <!--</td>-->
              <!--<td>-->
                <!--<select class="form-control" formControlName="items_type_{{i+1}}">-->
                  <!--<ng-container *ngIf="( queriesPrice.data['itemstypeNames'] | json) != '{}' ">-->
                    <!--<option *ngFor="let item of queriesPrice.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
                      <!--{{ item.value }}</option>-->
                  <!--</ng-container>-->
                <!--</select>-->
              <!--</td>-->
              <!--<td>-->
                <!--<select class="form-control" formControlName="delivery_type_{{i+1}}">-->
                  <!--<ng-container *ngIf="( queriesPrice.data['deliverytypeNames'] | json) != '{}' ">-->
                    <!--<option *ngFor="let item of queriesPrice.data['deliverytypeNames'] | keys; let i = index" value="{{item.key}}">-->
                      <!--{{ item.value }}</option>-->
                  <!--</ng-container>-->
                <!--</select>-->
              <!--</td>-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_count_{{i+1}}">-->
              <!--</td>-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_weight_{{i+1}}">-->
              <!--</td>-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_length_{{i+1}}">-->
              <!--</td>-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_width_{{i+1}}">-->
              <!--</td>-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_height_{{i+1}}">-->
              <!--</td>-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_{{i+1}}">-->
              <!--</td>-->
              <!--<td>-->
                <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="items_price_currency_{{i+1}}">-->
              <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
          <!--<div class="col-md-6">-->
          <!--<div class="group">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Вес 1</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control" name="weight1" placeholder="" formControlName="item1_w">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Размер 1, см</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control input-col-4" name="size1_1" placeholder="" formControlName="item1_s1">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" name="size1_2" placeholder="" formControlName="item1_s2">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" name="size1_3" placeholder="" formControlName="item1_s3">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="group">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Вес 2</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control" name="weight2" placeholder="" formControlName="item2_w">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Размер 2, см</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control input-col-4" name="size2_1" placeholder="" formControlName="item2_s1">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" name="size2_2" placeholder="" formControlName="item2_s2">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" name="size2_3" placeholder="" formControlName="item2_s3">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="group">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Вес 3</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control" name="weight3" placeholder="" formControlName="item3_w">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Размер 3, см</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control input-col-4" formControlName="item3_s1">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" formControlName="item3_s2">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" formControlName="item3_s3">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="group">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Вес 4</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control" name="weight4" placeholder="" formControlName="item4_w">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="form-group">-->
          <!--<label class="col-sm-4 control-label">Размер 4, см</label>-->
          <!--<div class="col-sm-8">-->
          <!--<input type="text" class="form-control input-col-4" name="size4_1" placeholder="" formControlName="item4_s1">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" name="size4_2" placeholder="" formControlName="item4_s2">-->
          <!--/-->
          <!--<input type="text" class="form-control input-col-4" name="size4_3" placeholder="" formControlName="item4_s3">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="group">
            <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label">Документы или поссылка</label>-->
            <!--<div class="col-sm-8">-->
            <!--<select class="form-control m-b" formControlName="items_type">-->
            <!--<ng-container *ngIf="( queriesPrice.data['itemstypeNames'] | json) != '{}' ">-->
            <!--<option *ngFor="let item of queriesPrice.data['itemstypeNames'] | keys; let i = index" value="{{item.key}}">-->
            <!--{{ item.value }}</option>-->
            <!--</ng-container>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
              <label class="col-sm-4 control-label">Тариф</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="delivery_price">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Описание</label>
              <div class="col-sm-8">
                <textarea class="form-control" formControlName="client_comment"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="modal-footer">
          <button class="btn btn-theme btn-lg">Отправить</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- end modal request-quotation -->
