<div class="container">
    <div class="page-title">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-box">
                <div class="text-right form-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <a [routerLink]="['/cabinet/customers-users/edit', userId]" class="btn btn-theme btn-lg">Редактировать</a>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal" [formGroup]="form">
                    <div class="group">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Тип клиента</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="type" formControlName="type">
                                    <ng-container *ngIf="( user.data['typeNames'] | json) != '{}' ">
                                        <option *ngFor="let item of user.data['typeNames'] | keys" value="{{item.key}}">{{ item.value }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Статус клиента</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="status" formControlName="status">
                                    <ng-container *ngIf="( user.data['statusNames'] | json) != '{}' ">
                                        <option *ngFor="let item of user.data['statusNames'] | keys" value="{{item.key}}">{{ item.value }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Псевдоним</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="login" formControlName="login">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ФИО</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="fio" formControlName="fio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Электронная почта</label>
                            <div class="col-sm-5">
                                <input type="email"  class="form-control" name="email" formControlName="email">
                            </div>
                            <div class="col-sm-4">
                                <!--<input class="align-sub" value="email" type="radio" name="mail_for_send" formControlName="mail_for_send">-->
                                <!--Выставить счет-->
                                <button class="btn btn-theme btn-md" type="button" [disabled]="!user.data.email" (click)="openModalCreateBill(this.user.data.email)">
                                  Выставить счет
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Телефон</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="phone" formControlName="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Фирма</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="company" formControlName="company">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Регистрационный номер фирмы</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="company_code" formControlName="company_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Страна</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="country" formControlName="country">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Город</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="city" formControlName="city">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Адрес</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="address" formControlName="address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Почтовый адрес</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="postal_address" formControlName="postal_address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Район/Штат</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="region" formControlName="region">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Индекс</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="zip_code" formControlName="zip_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Скидка на экспресс услуги</label>
                            <div class="col-sm-5">
                                <input type="text"  class="form-control" name="discount" formControlName="discount">
                            </div>
                        </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Файл</label>
                        <div class="col-sm-8">
                          <app-form-file-upload
                            [form]="form"
                            [inputName]="'filesUpload'"
                            [files]="user?.data?.filesList"
                            [modeCrud]="typePage">
                          ></app-form-file-upload>
                        </div>
                      </div>
                        <div class="form-group">
                            <label class="col-sm-3 text-right">Договорной тариф</label>
                            <div class="col-sm-5">
                                <input type="checkbox" class="align-sub" name="contract_tariff" formControlName="contract_tariff">
                            </div>
                        </div>
                        <fieldset class="col-sm-8">
                          <app-add-direction-table [directions]="user?.data?.contract_tariff_data" [showOnly]="true"></app-add-direction-table>
                        </fieldset>
                        <div class="clearfix"></div>
                    </div>
                    <div class="group">
                        <h4>Данные для выставления счета</h4>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Электронный адрес</label>
                            <div class="col-sm-5">
                                <input type="email"  class="form-control" name="email2" formControlName="email2">
                            </div>
                            <div class="col-sm-4">
                                <!--<input class="align-sub" value="email2" type="radio" name="mail_for_send" formControlName="mail_for_send">-->
                                <!--Выставить счет-->
                                <button class="btn btn-theme btn-md" type="button" [disabled]="!user.data.email2" (click)="openModalCreateBill(user.data.email2)">
                                  Выставить счет
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Дополнительный телефон</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="phone2" formControlName="phone2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Назначить менеджера</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="user_id" formControlName="user_id">
                                    <ng-container *ngIf="( user.data['managersNames'] | json) != '{}' ">
                                        <option *ngFor="let item of user.data['managersNames'] | keys" value="{{item.key}}">{{ item.value }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <!--<button  class="btn btn-theme btn-lg" (click)="open(modalContentContract)">Выслать Договор на подпись</button>-->
                    <button [disabled]="form.get('type').value == 10"   class="btn btn-theme btn-lg" (click)="getTemplate(modalContentContract)">Выслать Договор на подпись</button>
                    <button (click)="navigateToUrl($event, '/cabinet/orders/create')" class="btn btn-theme btn-lg">Сформировать заказ</button>
                    <!--<button *ngIf="ordersList?.listdata.length > 0" [disabled]="orderIds.length <= 0" class="btn btn-theme btn-lg" (click)="issueInvoice()">Выставить счет</button>-->
                </div>
                <app-customer-user-orders-list [id]="userId" [ordersList]="ordersList" (sendOrderIds)="getOrderIds($event)"></app-customer-user-orders-list>
            </div>
        </div>
    </div>
</div>
<!--<app-tooltip [showTooltip]="sendLetterTooltip" [delay]="4000" [urlRedirect]="null">Ваш договор отправлен</app-tooltip>-->

<!-- start modal contract -->
<ng-template #modalContentContract let-d="close">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">×</button>
        <h4 class="modal-title">Договор</h4>
    </div>
    <div class="modal-body" [innerHTML]="modalTemplate">
    </div>
    <div class="modal-footer">
        <button class="btn btn-theme btn-lg" (click)="sendLetter()">Отправить</button>
    </div>
</ng-template>
<!-- end modal contract -->

<app-create-bill-modal
  [stateModalCreateBill]="triggerModalCreateBill"
  (emitCloseModalCreateBill)="closeModalCreateBill()"
  userId="{{userId}}"
  email="{{currentEmail}}">
</app-create-bill-modal>
