<form [formGroup]="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Выбрать тип перевозчика</label>
      <div class="col-sm-8">
        <select class="form-control m-b" [formControlName]="formName.type.name">
          <option value=""></option>
          <option value="agents">Агенты</option>
          <option value="carriers">Перевозчики</option>
        </select>
      </div>
    </div>
    <div class="form-group" *ngIf="form.get(formName.type.name).value &&
                                   transporters">
      <label class="col-sm-4 control-label">
        {{ form.get(formName.type.name).value === 'agents' ? 'Выбрать Агенты' : 'Выбрать Перевозчика'}}
      </label>
      <div class="col-sm-8">
        <select class="form-control m-b" [formControlName]="formName.id.name">
          <option></option>
          <option
            *ngFor="let transportUser of transporters?.transporters | keys"
            value="{{transportUser.key}}"
          >
            {{transportUser.value}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group" *ngIf="form.get(formName.type.name).value &&
                                   form.get(formName.id.name).value &&
                                   directions">
      <label class="col-sm-4 control-label">
        Направление
      </label>
      <div class="col-sm-8">
        <select class="form-control m-b" [formControlName]="formName.direction_id.name">
          <option></option>
          <option
            *ngFor="let direction of directions.directions | keys"
            value="{{direction.key}}"
          >
            {{direction.value}}
          </option>
        </select>
      </div>
    </div>
    <fieldset *ngIf="form.get(formName.type.name).value &&
                     form.get(formName.id.name).value &&
                     form.get(formName.direction_name.name).value">
      <div class="form-group">
        <label class="col-sm-4 control-label">Имя</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [formControlName]="formName.direction_name.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Телефон</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [formControlName]="formName.direction_phone.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [formControlName]="formName.direction_email.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Ответственное лицо</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [formControlName]="formName.direction_resperson.name">
        </div>
      </div>
    </fieldset>
</form>
