<div [formGroup]="form">
    <select class="form-control m-b" [name]="dataName" [formControlName]="dataName">
        <ng-container *ngIf="( data | json) != '{}' ">
            <option *ngFor="let item of data | keys; let i = index" value="{{item.key}}">
                {{ item.value }}
            </option>
        </ng-container>
    </select>
</div>
